@model EA.Iws.Web.Areas.Movement.ViewModels.ReceiptCompleteViewModel
@{
    ViewBag.Title = "Receipt complete";
    Layout = "~/Areas/Movement/Views/Shared/_LayoutReceipt.cshtml";
}

<header class="hgroup">
    <h1 class="heading-large">Your certificate of receipt is now complete</h1>
    <h2 class="heading-small">Before you continue you need to:</h2>
</header>

<div>
    <p>Upload the signed copy of the certificate of receipt.</p>
</div>

<div class="form-group-compound">
    <p><button class="button" type="submit">Upload now</button></p>
</div>

<div class="form-group">
    <p>
        @Html.ActionLink("Receive another shipment",
            "Receipt",
            "NotificationMovement",
            new { area = string.Empty, id = Model.NotificationId },
            null)
    </p>
    <p>
        @Html.ActionLink("Perform another activity",
            "ApprovedNotification",
            "Applicant",
            new { area = string.Empty, id = Model.NotificationId },
            null)
    </p>
</div>