<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DatabaseName" value="EA.Iws" />
		<add key="DatabaseServer" value="SFWVDI31\MSSQLSERVER01" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>