@model EA.Iws.Web.Areas.NotificationMovements.ViewModels.Create.DownloadViewModel
@{
    ViewBag.Title = "Download";
    Layout = "~/Areas/NotificationMovements/Views/Shared/_CreateSummaryLayout.cshtml";
}

<header class="hgroup">
    <h1 class="heading-large">Download and print your prenotification</h1>
</header>

<p>Before we can consider your prenotification, you'll need to sign it:</p>

<ol class="list-number">
    <li>
        download the
        @Html.ActionLink("IWS Movement", "GenerateMovementDocument", "Home", new { id = Model.MovementId, area = "Movement" }, new { })
        (.pdf) file
    </li>
    <li>print the file</li>
    <li>sign it</li>
</ol>

@Html.ActionLink(Constants.ContinueButtonText, "Index", "Home", null, new { @class = "button" })