@model EA.Iws.Web.Areas.NotificationMovements.ViewModels.Create.DownloadViewModel
@{
    ViewBag.Title = "Download your prenotification";
    Layout = "~/Areas/NotificationMovements/Views/Shared/_CreateSummaryLayout.cshtml";
}

<header class="hgroup">
    <h1 class="heading-large">Download and print your prenotification</h1>
</header>

<p>Before we can consider your prenotification, you'll need to:</p>

<div class="form-group">
    <ol class="list-number">
        <li>
            download the
            @Html.ActionLink("IWS Movement", "GenerateMovementDocument", "Home", new { id = Model.MovementId, area = "ExportMovement" }, new { })
            (.pdf) file
        </li>
        <li>print the file</li>
        <li>sign it</li>
    </ol>
</div>

@Html.ActionLink(Constants.ContinueButtonText, "Index", "Options",
        new { area = "NotificationApplication", id = ViewContext.RouteData.Values["notificationId"] },
        new { @class = "button" })