@model Guid[]
@{
    ViewBag.Title = "Download your prenotification";
    Layout = "~/Areas/NotificationMovements/Views/Shared/_CreateSummaryLayout.cshtml";
}

<header class="hgroup">
    <h1 class="heading-large">What to do next with this prenotification</h1>
</header>

<p>Before we can consider your prenotification, you still have to complete, sign and submit the documentation. This is a five step process:</p>

<div class="form-group">
    <ol class="list-number">
        <li>
            download the
            @Html.ActionLink("IWS movement", "GenerateMovementDocument", "Home", new { id = Model.First(), area = "ExportMovement" }, new { })
            document
        </li>
        <li>print the document</li>
        <li>complete blocks 7 and 8</li>
        <li>sign it</li>
        <li>upload the signed document</li>
    </ol>
</div>

<p>You can either upload the signed file now, or choose to upload it later. You'll be able to do this from the 'Notification options' page.</p>

<div class="form-group">
    @Html.ActionLink(Constants.ContinueOnlyButtonText, "Index", "Options",
            new { area = "NotificationApplication", id = ViewContext.RouteData.Values["notificationId"] },
            new { @class = "button" })
</div>

@Html.FeedbackLink()