@model EA.Iws.Web.Areas.NotificationMovements.ViewModels.Create.DownloadViewModel
@{
    ViewBag.Title = "Download";
    Layout = "~/Areas/NotificationMovements/Views/Shared/_CreateSummaryLayout.cshtml";
}

<header class="hgroup">
    <h1 class="heading-large">Your pre-notification is now almost complete</h1>
    <h2 class="heading-small">Before we consider your pre-notification you need to:</h2>
    <h3>
        Download the
        @Html.ActionLink("IwsMovement.doc", "GenerateMovementDocument", "Home", new { id = Model.MovementId, area = "Movement" }, new { })
        (approx. 55kb), print, sign and upload it.
    </h3>
</header>

@Html.ActionLink(Constants.ContinueButtonText, "Index", "Home", null, new { @class = "button" })