@using EA.Iws.Web.Areas.NotificationMovements.Views.Create


@{
    ViewBag.Title = TotalIntendedQuantityReachedResources.Title;
}

<h1 class="heading-large">@TotalIntendedQuantityReachedResources.Title</h1>

<p>@TotalIntendedQuantityReachedResources.Paragraph</p>

@Html.ActionLink("Continue", "Index", "Options", new { area = "NotificationApplication", id = ViewContext.RouteData.Values["notificationId"] }, new { @class = "button" })