@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.TransitState.EditResources
@model EA.Iws.Web.Areas.ImportNotification.ViewModels.TransitState.TransitStateViewModel

@{
    ViewBag.Title = Resource.TabTitle;
}

<h1 class="heading-large">@Resource.Title</h1>

@Html.Partial("_AddOrEdit", Model)

@section scripts{
    <script>
        function changeCountry(event) {
            var countryId = "countryId=" + $(event.target).val();
            getAjax('@Url.Action("GetCompetentAuthoritiesAndEntryOrExitPoints")', countryId, updateAuthoritiesAndExitPoints);
        }

        function updateAuthoritiesAndExitPoints(html) {
            $("#ca-and-exit-point").html(html);
            var $radios = $(".multiple-choice input[type='radio']");
            new GOVUK.SelectionButtons($radios);
        }
    </script>
}