@model EA.Iws.Web.ViewModels.Movement.MovementsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

<h2 class="heading-large">Pre Notifications</h2>

<table style="margin-bottom: 30px">
    @foreach (var item in Model.Movements)
    {
        <tr>
            <td>Shipment @item.Key</td>
            <td>@Html.ActionLink("Edit", "Index", "ShipmentDate", new { id = item.Value, area = "Movement" }, new { })</td>
        </tr>
    }
</table>

@using (Html.BeginForm("Create", "NotificationMovement", new { id = Model.NotificationId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <p><button class="button" type="submit">Create new pre notification</button></p>
    </div>
}