@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Complete.IndexResources
@{
    ViewBag.Title = Resource.TabTitle;
}

<h1 class="heading-large">@Resource.Heading</h1>

<p class="text">@Resource.Guidance</p>

