@model EA.Iws.Web.Areas.NotificationAssessment.ViewModels.Decision.NotificationAssessmentDecisionViewModel

<div class="form-group @Html.Gds().FormGroupClass(m => m.ReasonsForConsentWithdrawal)">
    <label class="heading-medium">@Html.DisplayNameFor(m => m.ReasonsForConsentWithdrawal)</label>
    @Html.Gds().ValidationMessageFor(m => m.ReasonsForConsentWithdrawal)
    @Html.TextAreaFor(m => m.ReasonsForConsentWithdrawal, new { @class = "text-area two-thirds" })
</div>