@model IList<EA.Iws.Requests.Notification.NotificationApplicationSummaryData>

@if (ViewBag.Errors != null && ((IEnumerable<string>)ViewBag.Errors).Any())
{
    <p>Error retrieving notifications, please try again.</p>
}
else if (Model.Count == 0)
{
    <p>You currently have no notifications.</p>
}
else
{
    <p>You have generated the following notifications</p>

    <table title="Manage Notifications">
        <thead>
            <tr>
                <th class="formatted-block-table-header">
                    Notification number
                </th>
                <th class="formatted-block-table-header">
                    Status
                </th>
                <th class="formatted-block-table-header">
                    Status date
                </th>
                <th class="formatted-block-table-header">
                </th>
            </tr>
        </thead>
        <tbody class="formatted-block-table-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <div class="formatted-block-table-cell">
                            @Html.DisplayFor(m => m[i].NotificationNumber)
                        </div>
                    </td>
                    <td>
                        <div class="formatted-block-table-cell">
                            @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model[i].Status)
                        </div>
                    </td>
                    <td>
                        <div class="formatted-block-table-cell">
                            @Html.Raw(Model[i].StatusDate.ToString("d MMMM yyyy"))
                        </div>
                    </td>
                    <td>
                        <div class="formatted-block-table-cell">
                            @Html.ActionLink(linkText: "Select", actionName: "ApprovedNotification", controllerName: "Applicant",
                                routeValues: new { id = Model[i].Id, area = string.Empty }, htmlAttributes: new { @title = Model[i].NotificationNumber })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}