@{
    ViewBag.Title = "Applicant - Home Page";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Your notifications</h1>

        <h2 class="heading-medium">Would you like to start a notification?</h2>
        <p>Start a new notification now or read the <a href="https://www.gov.uk/importing-and-exporting-waste" target="_blank" title="View supporting information on GOV.UK">supporting information</a> first</p>
        <p id="get-started" class="get-started group">
            @Html.ActionLink("New", "CompetentAuthority", "NewNotification", null, new { @class = "button" })
        </p>
        <p>Or you can @Html.ActionLink("create a new notification based on a previous one", "CompetentAuthority", "NewNotification", new { cfp = 1 }, null)</p>
    </div>
    <div class="column-third" id="submit-side-bar">
        <h3 class="heading-medium">Account services</h3>
        <i class="fa fa-briefcase"></i>&nbsp;&nbsp;@Html.ActionLink("Account details", "ChangeAccountDetails", "Registration")
    </div>
</div>

<div class="spacer"></div>

<h2 class="heading-medium">Manage your notifications</h2>
<div class="colored-header-bar" id="turquoise"></div>
@Html.Action("_GetUserNotifications")
<hr class="section-bottom" />