@{
    ViewBag.Title = "Applicant - Home Page";
}
<h1 class="heading-large">Manage your notifications</h1>
<p>
    Start new notifications.
</p>


<h2 class="heading-medium">What would you like to do?</h2>
<div class="colored-header-bar" id="orange"></div>
<div class="grid-row">
    <div class="column-third">@Html.ActionLink(linkText: "Start a new notification", actionName: "CompetentAuthority", controllerName: "NotificationApplication")</div>
</div>
<hr class="section-bottom"/>

<div class="spacer"></div>

<h2 class="heading-medium">Manage your notifications</h2>
<div class="colored-header-bar" id="turquoise"></div>
@Html.Action(actionName: "_GetUserNotifications", controllerName: "NotificationApplication", routeValues: new { })
<hr class="section-bottom"/>
