@{
    ViewBag.Title = "Applicant - Home Page";
}
<h1 class="heading-large">Your notifications</h1>

<h2 class="heading-medium">Do you want to start a new notification?</h2>
<p id="get-started" class="get-started group">
    @Html.ActionLink("Continue", "CompetentAuthority", "NotificationApplication", new { area = "NotificationApplication", id = Guid.Empty }, new { @class = "button" })
</p>

<div class="spacer"></div>

<h2 class="heading-medium">Manage your notifications</h2>
<div class="colored-header-bar" id="turquoise"></div>
@Html.Action("_GetUserNotifications")
<hr class="section-bottom" />