@using EA.Iws.Web.Views.Applicant
@{
    ViewBag.Title = NotFoundResources.Title;
}

<h1 class="heading-large">@NotFoundResources.Title</h1>

<p class="text">@NotFoundResources.NotificationNotFound</p>

@Html.ActionLink(NotFoundResources.GoBack, "Home")