@using EA.Iws.Core.Shared
@model EA.Iws.Web.Areas.ExportMovement.ViewModels.Complete.SuccessViewModel

@{
    bool isRecovery = (Model.NotificationType == NotificationType.Recovery);
    var text = isRecovery ? "recovery" : "disposal";
    ViewBag.Title = "Certificate of " + text + " successful";
}

<header class="hgroup">
    <h1 class="heading-large">You've successfully recorded the @(text) of the shipment</h1>
</header>
@Html.HiddenFor(m => m.NotificationId)

<div class="form-group">
    @Html.ActionLink("Go to notification options", "Index", "Options",
        new { id = Model.NotificationId, area = "NotificationApplication" },
        new { @class = "button" })
</div>

@Html.FeedbackLink()