@model EA.Iws.Web.Areas.AdminImportNotificationMovements.ViewModels.Capture.CaptureViewModel

<div class="form-group">
    <h3 class="heading-small">@Html.DisplayNameFor(m => m.StatsMarking)</h3>
    <p>@Html.DisplayFor(m => m.StatsMarking)</p>

    <h3 class="heading-small">@Html.DisplayNameFor(m => m.Comments)</h3>
    <p>@Html.DisplayFor(m => m.Comments)</p>
</div>