@model Guid
@using Resources = EA.Iws.Web.Areas.AdminImportNotificationMovements.Views.Capture.CancelledResources
@{
    ViewBag.Title = Resources.Title;
}

<h1 class="heading-large">@Resources.Title</h1>

<p class="text">@Resources.Description</p>

@Html.ActionLink(Resources.ReturnToSummary, "Index", "Home")

@section menu {
    @Html.Action("ImportNavigation", "Menu", new { area = "Admin", id = Model, section = ImportNavigationSection.Shipments })
}