@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper
@using Resources = EA.Iws.Web.Areas.AdminImportAssessment.Views.FinancialGuaranteeDecision.NoDecisions
@model EA.Iws.Web.Areas.AdminImportAssessment.ViewModels.FinancialGuaranteeDecision.FinancialGuaranteeDecisionViewModel

<p>@Html.Raw(string.Format(Resources.Explanation, EnumHelper.GetDisplayName(Model.Status)))</p>

<div class="form-group-compound">
    @Html.ActionLink(Resources.ReturnToKeyDates, "Index", "KeyDates", null, new { @class = "button" })
</div>
