@model EA.Iws.Web.Areas.AdminExportNotificationMovements.ViewModels.CaptureMovement.RecoveryViewModel

<div class="form-group">
    <h3 class="heading-small">@Html.DisplayNameFor(m => m.RecoveryDate)</h3>
    <p>@Html.Gds().DisplayDate(Model.RecoveryDate.Date.Value)</p>
</div>   