@using Resource = EA.Iws.Web.Areas.AdminExportNotificationMovements.Views.CaptureMovement.CreateResources
@model EA.Iws.Web.Areas.AdminExportNotificationMovements.ViewModels.CaptureMovement.CreateViewModel

@{
    ViewBag.Title = Resource.PageTitle;
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@Resource.MainHeading</h1>

        <p>@string.Format(Resource.CurrentShipmentParagraph, Model.Number)</p>

        @Html.Partial("_Prenotify")

        @Html.ActionLink(Resource.ReturnToSummary, "Index", "Home", new { area = "AdminExportNotificationMovements", id = Model.NotificationId }, null)
    </div>
</div>