@model EA.Iws.Web.ViewModels.NotificationApplication.CompetentAuthorityChoice
@{
    ViewBag.Title = "Which Competent Authority";
}

@using (Html.BeginForm(actionName: "CompetentAuthority", controllerName: "NotificationApplication", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <header class="hgroup">
        <h1 class="heading-medium">Which Competent Authority are you applying under?</h1>
        <p>Select the compentent authority or government agency for the region you are exporting waste from.</p>
    </header>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.CompetentAuthorities.SelectedValue)">
            @Html.EditorFor(m => m.CompetentAuthorities)
    </div>

    <div class="form-group">
        <button class="button" type="submit">Continue</button>
    </div>
}


