@model EA.Iws.Web.ViewModels.NotificationApplication.Created
@{
    ViewBag.Title = "Notification Application Created";
}

@using (Html.BeginForm())
{
    <header class="hgroup">
        <h1 class="heading-medium">Your notification number</h1>
        <p>Here is your shipment application notification number.</p>
    </header>
    <div class="panel-indent">
        <h2 class="heading-large">
            @Html.DisplayFor(m => m.NotificationNumber)
        </h2>
    </div>
    <div class="form-group">
        <p>
            Your unique notification number has been automatically saved.
        </p>
        <p>
            You can return to this saved notification at any time.
        </p>
    </div>

    <div>
        <p>Please @Html.ActionLink("download your application document", "GenerateNotificationDocument", new { id = Model.NotificationId }) and complete it.</p>
        <br/>
    </div>

    <button class="button" type="submit">Continue</button>
}