@model EA.Iws.Requests.Notification.NotificationInfo
@{
    ViewBag.Title = "Download Instructions";
}

<header class="hgroup">
    <h2 class="heading-large">Download your notification document</h2>
</header>

    <h2 class="heading-medium">
        @Html.DisplayFor(m => m.NotificationNumber)
    </h2>

<div>
    <p>
        Download, print and sign your notification document and send it to 
        @Model.CompetentAuthorityName
        with your payment.
    </p>
</div>

<div>
    <p>@Html.ActionLink("Download", "GenerateNotificationDocument", new { id = Model.NotificationId })</p>
</div>


@Html.ActionLink("Continue", "Add", "Exporter", new { id = Model.NotificationId }, new { @class = "button" })
