@model EA.Iws.Web.ViewModels.NotificationApplication.SpecialHandlingViewModel

@{
    ViewBag.Title = "Special Handling";
}


<header class="hgroup">
    <h2 class="heading-large">Are there any special handling requirements?</h2>
</header>

@using (Html.BeginForm())
{

<div class="form-group">
    <fieldset>
        <label class="block-label">
            @Html.RadioButtonFor(m => m.IsSpecialHandling, false, new { @id = "rdoNotSpecialHandling", Checked = "checked" })No
            
        </label>
        <label class="block-label" for="rdoSpecialHandling">
            @Html.RadioButtonFor(m => m.IsSpecialHandling, true, new { @id = "rdoSpecialHandling" })Yes
        </label>
    </fieldset>
</div>
<div class="form-group">
    <div class="panel-indent" id="information-message">
        Provide details of the special handling requirements in a separate document with this submission.
    </div>
</div>
 
@Html.HiddenFor(m => m.NotificationId)
<div class="form-group">
    <button class="button" type="submit">Continue</button>
</div>
}


@section scripts
{
<script>
        $(function() {
            $("#information-message").hide();

            $("#rdoSpecialHandling").click(function () {
                $("#information-message").show("fast");
            });

            $("#rdoNotSpecialHandling").click(function () {
                $("#information-message").hide("fast");
            });
        });
</script>
}