@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary

<details>
    <summary class="block">
        EWC Codes @Html.ActionLink("Change", "Index", "WasteType", null, new { @class = "right-float" })
    </summary>
    <div class="expanded-details">
        <div class="panel-indent">
            @if (!Model.WasteType.EwcCodes.IsEmpty())
            {
                if (Model.WasteType.EwcCodes.IsNotApplicable)
                {
                    <p>Not applicable</p>
                }
                else
                {
                    @Html.Partial("_CodeDefinitionList", Model.WasteType.EwcCodes.WasteCodes)
                }
            }
            else
            {
                <p>@ViewBag.SectionIncompleteText</p>
            }
        </div>
    </div>
</details>

