@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary
@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Home.IndexResources

<div class="overview-block">
    @if (!Model.WasteType.HCodes.IsEmpty())
    {
        if (Model.WasteType.HCodes.IsNotApplicable)
        {
            <div class="overview-block-element">@Resource.CodesNotApplicableText</div>
        }
        else
        {
            @Html.Partial("_CodeDefinitionList", Model.WasteType.HCodes.WasteCodes)
        }
    }
    else
    {
        <div class="overview-block-element">@ViewBag.SectionIncompleteText</div>
    }
</div>


