@using EA.Iws.Core.Shared
@model EA.Iws.Web.Areas.ImportNotification.ViewModels.Home.SummaryTableContainerViewModel

<div class="overview-block">
        @if (Model.Details.WasteOperation.OperationCodes != null && Model.Details.WasteOperation.OperationCodes.Any())
        {
            <div class="overview-block-element">
                @string.Join(", ", Model.Details.WasteOperation.OperationCodes)
            </div>
        }
        else
        {
            <div class="overview-block-element">@ViewBag.SectionIncompleteText</div>
        }
</div>