@using EA.Iws.Core.Shared
@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary

@{
    var prefix = Model.Type == NotificationType.Disposal ? "D" : "R";
}


<div class="overview-block">
        @if (Model.WasteOperation.OperationCodes != null && Model.WasteOperation.OperationCodes.Any())
        {
            <div class="overview-block-element">
                @string.Join(", ", Model.WasteOperation.OperationCodes.Select(c => prefix + c))
            </div>
        }
        else
        {
            <div class="overview-block-element">@ViewBag.SectionIncompleteText</div>
        }
</div>