@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary
@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Home.IndexResources

<div class="overview-block">
    <div class="overview-block-element">
        @if (Model.AreFacilitiesPreconsented.HasValue)
        {
            if (Model.AreFacilitiesPreconsented.Value)
            {
                @Resource.True
            }
            else
            {
                @Resource.False
            }
        }
        else
        {
            @ViewBag.SectionIncompleteText
        }

    </div>
</div>

