@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary

<details>
    <summary class="block">
        Technology employed @Html.ActionLink("Change", "Index", "WasteOperation", null, new { @class = "right-float" })
    </summary>
    <div class="expanded-details">
        <div class="panel-indent">
            @if (!string.IsNullOrWhiteSpace(Model.WasteOperation.TechnologyEmployed))
            {
                <dl>
                    <dt>Description:</dt>
                    <dd>@Html.DisplayFor(m => m.WasteOperation.TechnologyEmployed)</dd>
                </dl>
            }
            else
            {
                <p>@ViewBag.SectionIncompleteText</p>
            }
        </div>
    </div>
</details>