@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary

<div class="overview-block">
    @if (!string.IsNullOrWhiteSpace(Model.WasteOperation.TechnologyEmployed))
    {
        <div class="overview-block-element">
            @Html.DisplayFor(m => m.WasteOperation.TechnologyEmployed)
        </div>
    }
    else
    {
        <div class="overview-block-element">@ViewBag.SectionIncompleteText</div>
    }
</div>