@model EA.Iws.Web.Areas.ImportNotification.ViewModels.Home.SummaryTableContainerViewModel

<div class="overview-block">
    @if (!string.IsNullOrWhiteSpace(Model.Details.WasteOperation.TechnologyEmployed))
    {
        <div class="overview-block-element">
            @Html.DisplayFor(m => m.Details.WasteOperation.TechnologyEmployed)
        </div>
    }
    else
    {
        <div class="overview-block-element">Not entered</div>
    }
</div>