@model EA.Iws.Web.Areas.ImportNotification.ViewModels.Home.SummaryTableContainerViewModel
@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Home.IndexResources

<div class="overview-block">
    @if (!Model.Details.WasteType.UnClasses.IsEmpty())
    {
        if (Model.Details.WasteType.UnClasses.IsNotApplicable)
        {
            <div class="overview-block-element">@Resource.CodesNotApplicableText</div>
        }
        else
        {
            @Html.Partial("_CodeDefinitionList", Model.Details.WasteType.UnClasses.WasteCodes)
        }
    }
    else
    {
        <div class="overview-block-element">@ViewBag.SectionIncompleteText</div>
    }
</div>

