@model EA.Iws.Web.Areas.ImportNotification.ViewModels.Home.SummaryTableContainerViewModel
@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Home.IndexResources

<div class="overview-block">
    @if (Model.Details.WasteType != null && !Model.Details.WasteType.YCodes.IsEmpty())
    {
        if (Model.ShowChangeWasteTypesLink)
        {
            <div class="change-answer">@Html.ActionLink("Change", "WasteCodes", "UpdateJourney", new { id = Model.Details.Id }, null)</div>
        }

        if (Model.Details.WasteType.YCodes.IsNotApplicable)
        {
            <div class="overview-block-element">@Resource.CodesNotApplicableText</div>
        }
        else
        {
            @Html.Partial("_CodeDefinitionList", Model.Details.WasteType.YCodes.WasteCodes)
        }
    }
    else
    {
        <div class="overview-block-element">@ViewBag.SectionIncompleteText</div>
    }
</div>

