@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Home.IndexResources
@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary
@{
    ViewBag.Title = Resource.TabTitle;
}

<h1 class="heading-large">@Resource.Title</h1>
<hr/>

@Html.ActionLink("Complete notification", string.Empty, string.Empty, null, new { @class = "button" })

@Html.Partial("_SummaryTableContainer")