ALTER TABLE [ImportNotification].[FinancialGuaranteeApproval]
DROP COLUMN [ActiveLoadsPermitted];

ALTER TABLE [ImportNotification].[FinancialGuaranteeApproval]
DROP COLUMN [IsBlanketBond];

ALTER TABLE [ImportNotification].[FinancialGuaranteeApproval]
DROP COLUMN [ValidFrom];

ALTER TABLE [ImportNotification].[FinancialGuaranteeApproval]
DROP COLUMN [ValidTo];