@model EA.Iws.Web.Areas.AdminNotificationMovements.ViewModels.Cancel.SuccessViewModel
@{
    ViewBag.Title = "Prenotification cancellation confirmed";
}

<header class="hgroup">
    <h1 class="heading-large">@Model.HeadingText</h1>
</header>

<div class="form-group">
    @Html.ActionLink("Continue", "Index", "Home", null, new { @class = "button" })
</div>