@{
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

<div class="grid-row">
    <div class="column-third">
        @RenderSection("menu", required: true)
    </div>

    <div class="column-two-thirds">
        @RenderBody()
    </div>
</div>

@section head {
    @RenderSection("head", required: false)
}

@section scripts {
    @RenderSection("scripts", required: false)
}