@using EA.Iws.Core.Admin
@model EA.Iws.Web.Areas.AdminImportAssessment.ViewModels.Comments.CommentsViewModel

<nav class="tabbed-nav govuk-tabs">
    @Html.ActionLink(
        "Notification",
        "Index",
        "Comments",
        new { id = Model.NotificationId, type = NotificationShipmentsCommentsType.Notification, filter = Model.SelectedFilter },
        new
        {
            @class = "tabbed-tab govuk-tabs__list-item" + (Model.Type == NotificationShipmentsCommentsType.Notification ? " active" : "")
        }
    )
    @Html.ActionLink(
        "Shipments",
        "Index",
        "Comments",
        new { id = Model.NotificationId, type = NotificationShipmentsCommentsType.Shipments, filter = Model.SelectedFilter },
        new
        {
            @class = "tabbed-tab govuk-tabs__list-item" + (Model.Type == NotificationShipmentsCommentsType.Shipments ? " active" : "")
        }
    )
</nav>
