@{
    ViewBag.Title = "Movement successful";
    Layout = "~/Areas/Movement/Views/Shared/_LayoutReceipt.cshtml";
}

<header class="hgroup">
    <h1 class="heading-large">You have successfully pre-notified us of shipment x</h1>
</header>
