@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel

<p>
    <span>@Model.NotificationNumber</span>
</p>

<h4>Organisations involved</h4>
<a href="#" id="" class="" title="Exporter notifier" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Exporter notifier<i class="fa"></i></a>
<a href="#" id="" class="" title="Waste generator producer" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Waste generator producer<i class="fa"></i></a>
<a href="#" id="" class="" title="Importer consignee" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Importer consignee<i class="fa"></i></a>
<a href="#" id="" class="" title="Facility " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Facility<i class="fa"></i></a>

<h4>The transportation</h4>
<a href="#" id="" class="" title="Intended carrier" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Intended carrier<i class="fa"></i></a>
<a href="#" id="" class="" title="Means of transport" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Means of transport<i class="fa"></i></a>
<a href="#" id="" class="" title="Packaging types" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Packaging types<i class="fa"></i></a>
<a href="#" id="" class="" title="Special handling" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Special handling<i class="fa"></i></a>

<h4>The journey</h4>
<a href="#" id="" class="" title="Transport route export" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Transport route export<i class="fa"></i></a>
<a href="#" id="" class="" title="Transport route transits" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Transport route transits<i class="fa"></i></a>
<a href="#" id="" class="" title="Transport route import" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Transport route import<i class="fa"></i></a>
<a href="#" id="" class="" title="Custom office" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Custom office<i class="fa"></i></a>

<h4>Amounts and dates</h4>
<a href="#" id="" class="" title="Intended shipments" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Intended shipments<i class="fa"></i></a>

<h4>Classify your waste</h4>
<a href="#" id="" class="" title="Chemical composition" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Chemical composition<i class="fa"></i></a>
<a href="#" id="" class="" title="Process of generation" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Process of generation<i class="fa"></i></a>
<a href="#" id="" class="" title="Physical characteristics" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Physical characteristics<i class="fa"></i></a>
<a href="#" id="" class="" title="Waste codes" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Waste codes<i class="fa"></i></a>

<h4>Waste Recovery</h4>
<a href="#" id="" class="" title="Recovery information" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Recovery information<i class="fa"></i></a>

<em></em>