@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.FinancialGuarantee.FinancialGuaranteeDecisionViewModel

<p class="lede">This financial guarantee has not been marked as completed.</p>
<p>Please enter the dates on which the financial guarantee application was received and completed before recording your decision.</p>
@using (Html.BeginForm("ReturnToAssessment", "FinancialGuarantee", new { id = ViewContext.RouteData.Values["ID"] }))
{
    @Html.AntiForgeryToken()
    <button class="button" type="submit">@Constants.ContinueButtonText</button>
    <div class="form-group">
        @Html.ActionLink("Enter received and completion dates", "Dates", new { id = ViewContext.RouteData.Values["ID"] })
    </div>
}

