@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.FinancialGuaranteeDecision.FinancialGuaranteeDecisionViewModel

<div class="form-group @Html.Gds().FormGroupClass(m => m.ReasonForRefusal)">
    @Html.Gds().ValidationMessageFor(m => m.ReasonForRefusal)
    @Html.Gds().LabelFor(m => m.ReasonForRefusal, false)
    @Html.Gds().TextBoxFor(m => m.ReasonForRefusal)
</div>