@using Resources = EA.Iws.Web.Areas.Admin.Views.ExternalUserAdministration.ReactivateResources
@{
    ViewBag.Title = Resources.SuccessTitle;
}

<h1 class="govuk-heading-l">@Resources.SuccessTitle</h1>

<p>@string.Format(Resources.UserAccountDeactivated, ViewBag.Email)</p>

@Html.ActionLink("Home", "Index", "Home")

@section menu {
    @Html.Action("HomeNavigation", "Menu", new { area = "Admin", section = AdminHomeNavigationSection.AccountServices })
}