@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.MovementSearchViewModel

<h1 class="heading-large">Capture a shipment</h1>

@using (Html.BeginForm("Search", "MovementCertificate"))
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    <div class="form-group">
        <p>Enter the shipment number, for example 5</p>
        @Html.Gds().TextBoxFor(m => m.Number, new { @class = "form-control form-control-1-8", type = "number", min = 1 })
        <button class="button blue" type="submit">Go</button>
    </div>
}