<details>
    <summary><h2 class="summary heading-xsmall">Who else needs to sign?</h2></summary>
    <div class="panel-indent">
        <p>
            If the notifier and original producer aren't the same person, then both the original and new producers need to sign.
            However, this may not be practicable when there are several producers.
            Definitions around this practicability can be found in national legislation.
        </p>
        <p>
            If the producer is unknown, the person in control of the waste should also sign.
        </p>
    </div>
</details>