<details>
    <summary><h2 class="summary heading-xsmall">Who else needs to sign?</h2></summary>
    <div class="panel-indent">
        <p>
            If the notifier and the producer aren't the same person, then the original or new producer needs to sign. 
            However, this may not be practicable when there are several producers. Definitions around this practicability can be found in national legislation.
        </p>
        <p>
            If the producer is unknown, the person in possession or control of the waste should sign.
        </p>
    </div>
</details>