<details>
    <summary><h2 class="summary heading-xsmall">Who else needs to sign?</h2></summary>
    <div class="panel-indent">
        <p>
            When the notifier is not the same person as the original producer, this producer, the new producer or the collector is,
            where practicable, also to sign and date;
            it is noted that this may not be practicable in cases where there are several producers 
            (definitions regarding practicability may be contained in national legislation). 
            Further, where the producer is not known, the person in possession or control of the waste (holder) should sign.
        </p>
    </div>
</details>