<h4 class="heading-small">Pay by credit or debit card</h4>

You can pay by credit or debit card by emailing <a href="mailto:askshipments@environment-agency.gov.uk">askshipments@environment-agency.gov.uk</a>. 
A member of the team will contact you to take your payment.