<h4 class="heading-small">Pay by credit or debit card</h4>

You can pay by credit or debit card by emailing askshipments@environment-agency.gov.uk.  A member of the team will contact you to take your payment.