@model EA.Iws.Requests.Notification.WhatToDoNextData

<p>You must also email your remittance to:</p>
<p>@Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.Email)</p>
<p>Or by fax: @Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.Fax)</p>