<details>
    <summary><h2 class="summary heading-xsmall">Who else needs to sign?</h2></summary>
    <div class="panel">
        <p>
            When the notifier is not the same person as the original producer both parties must sign and date block 17.
        </p>
    </div>
</details>