You must also email your remittance to the following addresses, depending on whether you’re corresponding in English or Welsh:

<ul class="list list-bullet">
    <li>
        <a href="mailto:payments.wales@naturalresourceswales.gov.uk">payments.wales@naturalresourceswales.gov.uk</a> and <a href="mailto:waste-shipments@naturalresourceswales.gov.uk">waste-shipments@naturalresourceswales.gov.uk</a>
    </li>
    <li>
        <a href="mailto:taliadau.cymru@cyfoethnaturiolcymru.gov.uk">taliadau.cymru@cyfoethnaturiolcymru.gov.uk</a> and <a href="mailto:cludiant-gwastraff@cyfoethnaturiolcymru.gov.uk">cludiant-gwastraff@cyfoethnaturiolcymru.gov.uk</a>
    </li>
</ul>
