You must also email your remittance to the following addresses, depending on whether you’re corresponding in English or Welsh:

<ul class="list list-bullet">
    <li>
        @Html.MailtoLink("payments.wales@naturalresourceswales.gov.uk") and @Html.MailtoLink("waste-shipments@naturalresourceswales.gov.uk")
    </li>
    <li>
        @Html.MailtoLink("taliadau.cymru@cyfoethnaturiolcymru.gov.uk") and @Html.MailtoLink("cludiant-gwastraff@cyfoethnaturiolcymru.gov.uk")
    </li>
</ul>
