@model EA.Iws.Requests.Notification.WhatToDoNextData
<p class="text">
    If you intend to submit a bank or parent company guarantee, print either the
    @Html.ActionLink("Bank Guarantee template", "GenerateBankGuaranteeDocument", "Home", new { area = "FinancialGuarantee" }, null)
    or
    @Html.ActionLink("Parent Company template", "GenerateParentCompanyDocument", "Home", new { area = "FinancialGuarantee" }, null)
    and ask your bank or parent company to complete the guarantee.
</p>