<details>
    <summary><h2 class="summary heading-xsmall">Who else needs to sign?</h2></summary>
    <div class="panel">
        <p>
            When the notifier is not the same person as the original producer, 
            this producer, the new producer or the collector should also sign and date. 
            In cases where there are several producers, the person in possession or control of the waste prior to shipment (holder) should sign.
        </p>
    </div>
</details>