@model EA.Iws.Requests.Notification.WhatToDoNextData
<p class="text">
    If you intend to submit a bank or parent company guarantee, print either the
    Financial Guarantee template or Parent Company template
    and ask your bank or parent company to complete the guarantee.
    <br />
    Click <a href="https://beta.sepa.scot/regulation/authorisations-and-compliance/waste-export-and-import" target="_blank" rel="external">here</a> to view the Templates for the Financial Guarantee and Parent Company Guarantee on the SEPA website (opens in new window)</a>
</p>