@using EA.Iws.Core.Notification
@model EA.Iws.Requests.Notification.WhatToDoNextData

@{
    ViewBag.Title = "Download your Financial Guarantee";
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

<header class="hgroup">
    <h1 class="heading-large">Download and complete your financial guarantee</h1>
</header>

<div class="form-group">An approved financial guarantee must be in place before any shipments can be mage.</div>

@if (Model.CompetentAuthority == CompetentAuthority.Scotland)
{
    @Html.Partial("_SepaFinancialGuarantee")
}

<div class="form-group">Once you've completed the application, please send it to the IWS team.  You can choose to post it with your notification package, or send it separately.</div>

<div class="form-group">
    @Html.ActionLink("Download the financial guarantee application", "GenerateFinancialGuaranteeDocument", "Home", new { competentAuthority = Model.CompetentAuthority, area = "FinancialGuarantee" }, null)
</div>


<div class="form-group">
    @Html.ActionLink("Continue", "Payment", "WhatToDoNext", new { id = Model.Id, area = "NotificationApplication" }, new { @class = "button" })
</div>

<div>
    @Html.ActionLink("Go to notification options", "Index", "Options", new { id = Model.Id, area = "NotificationApplication" }, null)
</div>
