@model EA.Iws.Requests.Notification.WhatToDoNextData
@{
    ViewBag.Title = "What to do next";
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

<header class="hgroup">
    <h1 class="heading-large">You've successfully submitted this notification</h1>
</header>

However, you need to complete a few more steps before we can consider it.

<h3 class="heading-medium">What to do next:</h3>

<ul class="list list-bullet">
    <li>print and sign the notification</li>
    <li>pay the charge</li>
    <li>complete your financial guarantee</li>
    <li>upload your annexes</li>
    <li>print a postage label</li>
    <li>post the notification</li>
</ul>

<div class="form-group">
    You can complete all these steps from the&nbsp;
    @Html.ActionLink("notification options", "Index", "Options", new { id = Model.Id, area = "NotificationApplication" }, null)
    &nbsp;page.
</div>

<div>
    @Html.ActionLink("Continue", "Print", "WhatToDoNext", new { id = Model.Id, area = "NotificationApplication" }, new { @class = "button"})
</div>

