@{
    ViewBag.Title = "Terms and conditions";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Terms and conditions</h1>

        @Html.Partial("_IwsTermsAndConditions")
    </div>
</div>