@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.JourneyViewModel
    
@if (Model.IsStateOfExportCompleted)
{
    <dl>
        <dt>Country:</dt>
        <dd>@Html.DisplayFor(m => m.StateOfExportData.Country.Name)</dd>

        <dt>Competent authority:</dt>
        <dd>@Html.DisplayFor(m => m.StateOfExportData.CompetentAuthority.Name)</dd>

        <dt>Exit point:</dt>
        <dd>@Html.DisplayFor(m => m.StateOfExportData.ExitPoint.Name)</dd>
    </dl>
}
else
{
    <p>@ViewBag.SectionIncompleteText</p>
}