@using EA.Iws.Web.Views.NewNotification
@model EA.Iws.Web.ViewModels.NewNotification.CreatedViewModel

<p>
    @Html.Raw(string.Format(GeneralFinancialGuaranteeResources.PrintMessage, Html.ActionLink(GeneralFinancialGuaranteeResources.FinancialGuaranteeForm, "GenerateFinancialGuaranteeDocument", "Home", new { area = "FinancialGuarantee", competentAuthority = Model.CompetentAuthority }, null)))
</p>