@model EA.Iws.Web.ViewModels.NewNotification.CreatedViewModel

<p>
    Print and complete a @Html.ActionLink("Financial Guarantee form", "GenerateFinancialGuaranteeDocument", "Home", new { area = "FinancialGuarantee", competentAuthority = Model.CompetentAuthority }, null).
    An approved Financial Guarantee must be in place before any shipments can be made
</p>