@using EA.Iws.Web.Views.NewNotification
@model EA.Iws.Web.ViewModels.NewNotification.CreatedViewModel

<p>
    @SepaFinancialGuaranteeResources.NeedFG
</p>
<p>
    @SepaFinancialGuaranteeResources.SubmitFG
</p>
<p>
    @SepaFinancialGuaranteeResources.PrintMessage
    <br />
    Click <a href="https://beta.sepa.scot/regulation/authorisations-and-compliance/waste-export-and-import" target="_blank" rel="external">here</a> to view the Templates for the Financial Guarantee and Parent Company Guarantee on the SEPA website (opens in new window)</a>
</p>