@using EA.Iws.Web.Views.NewNotification
@model EA.Iws.Web.ViewModels.NewNotification.CreatedViewModel

<p>
    @SepaFinancialGuaranteeResources.NeedFG
</p>
<p>
    @SepaFinancialGuaranteeResources.SubmitFG
</p>
<p>
    @SepaFinancialGuaranteeResources.PrintMessage
    <br />
    The templates can be viewed and downloaded directly from the SEPA website.
</p>