@using EA.Prsd.Core

@{
    ViewBag.Title = "Finance report";
}

<h1 class="heading-large">Finance report</h1>

@Html.ActionLink("Download", "Download", new { endDate = SystemTime.UtcNow }, new { @class = "button" })