@model EA.Iws.Web.ViewModels.Shipment.PackagingTypesViewModel
@{
    ViewBag.Title = "Which Competent Authority";
}

@using (Html.BeginForm(actionName: "PackagingTypes", controllerName: "Shipment", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.NotificationId)

<header class="hgroup">
    <h2 class="heading-large">Which packaging types will be used?</h2>
    <p>Select all that apply</p>
</header>

    <div class="form-group">
        @Html.EditorFor(m => m.PackagingTypes)
        @Html.EditorFor(m => m.OtherDescription)
    </div>

<div class="form-group">
    <button class="button" type="submit">Continue</button>
</div>
}


