<p>
    <ul id="proposition-links">
        @if (User.IsInternalUser())
        {
            <li>
                @Html.ActionLink(linkText: "Return to the home page.", actionName: "Index", controllerName: "Home", routeValues: new { area = "Admin" }, htmlAttributes: null)
            </li>
        }
        else
        {
            <li>
                @Html.ActionLink(linkText: "Return to the home page.", actionName: "Home", controllerName: "Applicant", routeValues: new { area = string.Empty }, htmlAttributes: null)
            </li>
        }
    </ul>
</p>