@{
    ViewBag.Title = "Access denied";
    Response.StatusCode = 403;
}


<h1 class="heading-large">Access denied</h1>

<p>Sorry, you're not authorised to access this page.</p>

@Html.Partial("_WhatNow")