@{
    Page.Title = "Internal Server Error";
    Response.StatusCode = 500;
}

<h1 class="heading-large">
    Sorry, an error occurred while processing your request.
</h1>

<p>You might be here because:</p>

<ul class="list-bullet text">
    <li>there is an error on our server.</li>
    <li>the system is down.</li>
</ul>

<p>
    We have logged the error and we will look into it, and make sure it doesn’t happen again. However if you keep
    seeing this page please send your <a href="#">
        feedback
    </a> to help us improve the service.
</p>

<h2 class="heading-medium">What now?</h2>

@Html.Partial("_WhatNow")