@{
    Page.Title = "Virus detected";
}

<h1 class="heading-large">
    Virus detected
</h1>

<p>A virus was detected in the file you uploaded.</p>

<h2 class="heading-medium">What now?</h2>

@Html.Partial("_WhatNow")