@{
    ViewBag.Title = "Virus detected";
}

<h1 class="heading-large">
    Virus detected
</h1>

<p>We've detected a virus in the file you uploaded.</p>

<p>
    <ul id="proposition-links">
        <li>
            <a href="@Request.Url.PathAndQuery">Upload this document again</a>
        </li>
    </ul>
</p>