<table width="100%" cellpadding="15" cellspacing="0" border="0">
    <tr>
        <td width="100%" height="55px" bgcolor="#0b0c0c">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="100%" bgcolor="#0b0c0c" valign="middle">
                        <img src="cid:logo" alt="GOV.UK">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>