@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Feedback";
}

<p>The following feedback has been received on the IWS service.</p>

<p>User is @Model.Option with the service.</p>

<p>User has provided the following comments:</p>

<p>@Model.Description</p>