@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Registration rejected";
}

<p>Your request for access to International Waste Shipments has been rejected.</p>

<p>Please contact the IWS administrator.</p>