@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Registration approved";
}

<p>Your request for access to International Waste Shipments has been approved. 
    You can now <a href="@Model.SignInLink">sign in</a> and access the online IWS service.</p>