@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Reset your IWS password";
}

<p>Hello,</p>
<p>You're receiving this email because we got a request to change your International Waste Shipments (IWS) password.</p>
<p>If you didn't request to change your password, please ignore this email.</p>
<p>
    <a href="@Model.PasswordResetUrl">Reset your password</a>
</p>