@model EA.Iws.Web.Areas.AdminExportNotificationMovements.ViewModels.Cancel.SuccessViewModel
@{
    ViewBag.Title = "Prenotification cancellation confirmed";
}

<header class="hgroup">
    <h1 class="govuk-heading-l">@Model.HeadingText</h1>
</header>

<div class="form-group">
    @Html.ActionLink("Continue", "Index", "Home", null, new { @class = "govuk-button" })
</div>