@using EA.Iws.Web.Views.Account
@{
    ViewBag.Title = EmailVerificationResentResources.Title;
}

<h2 class="heading-large">@EmailVerificationResentResources.Header</h2>

<p>@string.Format(EmailVerificationResentResources.P1, ViewBag.Email)</p>
<p>@EmailVerificationResentResources.P2</p>
<p>@EmailVerificationResentResources.P3</p>
