
@{
    ViewBag.Title = "Verification Email Resent";
}

<h2 class="heading-large">We've sent you another email</h2>

<p>We've sent another email to @(ViewBag.Email), which is the address you registered with.</p>
<p>Please use the link in the email to activate your user account. You may need to check your junk or spam folder if you can't see the email in your inbox.</p>
<p>Once you have followed the activation link, you will be directed to your account login page.</p>

