@{
    ViewBag.Title = "Email Confirmation Required";
}

@if (ViewBag.Errors != null && ((string[])ViewBag.Errors).Length > 0)
{
    <div class="validation-summary" style="margin-top: 25px">
        <h2 class="heading-small">An error occurred.</h2>
        <ul>
            @foreach (var error in (string[])ViewBag.Errors)
            {
                <li>@Html.Raw(error)</li>
            }
        </ul>
    </div>
}

<h2 class="heading-large">Activate your account</h2>

<p>We've sent your activation email to @(ViewBag.Email). Please use the link in the email to activate your user account. You may need to check your junk or spam folder if you can't see the email in your inbox.</p>
<p>Once you have followed the activation link, you will be directed to your account login page.</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        If you did not receive the email, you can
        <button class="link-submit" type="submit">request another activation email</button>.
    </p>
}
