
@{
    ViewBag.Title = "Password updated";
}

<div class="grid-row">
    <section class="column-two-thirds">
        <h1 class="heading-large">Your password has been updated</h1>
        <p>Please @Html.ActionLink("sign in", "Login", "Account") with your new password.</p>
    </section>
</div>