@using EA.Iws.Web.Views.Account
@{
    ViewBag.Title = PasswordUpdatedResources.Title;
}

<div class="grid-row">
    <section class="column-two-thirds">
        <h1 class="heading-large">@PasswordUpdatedResources.Header</h1>
        <p>@Html.Raw(string.Format(PasswordUpdatedResources.Message, Html.ActionLink(PasswordUpdatedResources.SignIn, "Login", "Account")))</p>
    </section>
</div>