@using EA.Iws.Web.Views.Account
@{
    ViewBag.Title = VerifyEmailResources.Title;
}

<h2 class="heading-large">@VerifyEmailResources.Header</h2>

<p>@VerifyEmailResources.HeaderDescription</p>

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink(Constants.ContinueButtonText, "Index", "Home", null ,new {@class = "button"})
}
else
{
    @Html.ActionLink(VerifyEmailResources.LogInLinktext, "Index", "Home")
}
