@{
    ViewBag.Title = "Your account's been activated";
}

<h2 class="heading-large">Email verified</h2>

<p>Your email has been verified successfully.</p>

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink(Constants.ContinueButtonText, "Index", "Home", null ,new {@class = "button"})
}
else
{
    @Html.ActionLink("Log in to continue using International Waste Shipments", "Index", "Home")
}
