@{
    ViewBag.Title = "Email verified";
}

<h2 class="heading-large">Email verified</h2>

<p>Your email has been verified successfully.</p>

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Return to your homepage", "Index", "Home")
}
else
{
    @Html.ActionLink("Log in to continue using International Waste Shipments", "Index", "Home")
}
