@{
    ViewBag.Title = "Email sent";
}

<h2 class="heading-large">Email sent</h2>

<p>An email has been sent to your email address. Use the link in the email to verify your email address.</p>

<p>If you have not received an email you can @Html.ActionLink("request another.", "EmailVerificationRequired", "Account")</p>