@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.HCode.HCodeViewModel

@{
    ViewBag.Title = "H codes";
}

<div class="grid-row">
    <header class="hgroup">
        <h2 class="heading-large">What H codes apply to the waste?</h2>
    </header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    @Html.EditorFor(m => m.EnterWasteCodesViewModel)

    <div class="form-group">
        <button class="button" type="submit" name="command" value="continue">Save and Continue</button>
    </div>
}

</div>

@section scripts{
    <script>
        (function ($) {
            $(function () {
                $('#code-list').selectToAutocomplete();
            });
        })(jQuery);
    </script>
}