@{
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

<div class="grid-row">
    <div class="column-two-thirds">
        @RenderBody()
    </div>
    <aside id="form-menu" class="column-third form-status">
        @Html.Action("Summary", "Home")
    </aside>
</div>

@section head {
    @RenderSection("head", required: false)
}

@section scripts {
    @RenderSection("scripts", required: false)
}