@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.AmountsAndDatesViewModel
@{
    var id = Model.NotificationId;
    var viewLocation = Constants.NotificationSummaryViewLocation;
}

<h2 class="heading-medium">Amount and dates</h2>

<div>
    <details>
        <summary>
            Intended shipments 
            @if (Model.IsIntendedShipmentsCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "Shipment", new { id, backToOverview = true }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_IntendedShipments.cshtml")
            </div>
        </div>
    </details>
</div>