@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel

@if (Model.Progress.IsExporterCompleted)
{
    <details>
        <summary>
            <span class="summary">Exporter notifier</span>
        </summary>

        <div class="expanded-details">
            @Model.ExporterCompanyName<br />
        </div>
    </details>
}
