@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel

@if (Model.Progress.IsFacilityCompleted)
{
        <details>
            <summary>
                <span class="summary">@(Model.NotificationType + " facility")</span>
            </summary>

            <div class="expanded-details">
                @foreach (var pn in Model.FacilitiesCompanyNames)
                {
                    @pn<br />
                }
            </div>
        </details>
}
