@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel

@if (Model.Progress.IsPackagingTypesCompleted)
{
    if (Model.PackagingData.Count > 1)
    {
        <details>
            <summary>
                <span class="summary">Packaging types</span>
            </summary>

            <div class="expanded-details">
                @foreach (var pt in Model.PackagingData)
                {
                    @pt<br />
                }
            </div>
        </details>
    }
    else
    {
        <div class="list-heading-no-detail column-third">Packaging type</div>
        <div>
            @Model.PackagingData[0]<br />
        </div>
    }
}
