@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel

@if (Model.Progress.IsPackagingTypesCompleted)
{
        <details>
            <summary>
                <span class="summary">Packaging types</span>
            </summary>

            <div class="expanded-details">
                @foreach (var pt in Model.PackagingData)
                {
                    @pt<br />
                }
            </div>
        </details>
}
