@using EA.Iws.Core.Shared
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel

@if (Model.NotificationType == NotificationType.Recovery && Model.Progress.IsPreconsentStatusChosen)
{
    <details>
        <summary>
            <span class="summary">Pre-consent facility</span>
        </summary>

        <div class="expanded-details">
            @Model.PreconstedAnswer<br />
        </div>
    </details>
}
