@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel

@if (Model.Progress.IsProducerCompleted)
{
        <details>
            <summary>
                <span class="summary">Waste generator producer</span>
            </summary>

            <div class="expanded-details">
                @foreach (var pn in Model.ProducersCompanyNames)
                {
                    @pn<br />
                }
            </div>
        </details>
}
