@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel

@if (Model.Progress.IsReasonForExportCompleted)
{
    <details>
        <summary>
            <span class="summary">Reason for export</span>
        </summary>

        <div class="expanded-details">
            <span>
                @Model.ReasonForExport
            </span>
        </div>
    </details>
}
