@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel

@if (Model.Progress.AreOperationCodesChosen)
{
    <details>
        <summary>
            <span class="summary">@( Model.NotificationType + " codes")</span>
        </summary>

        <div class="expanded-details">
            @foreach (var code in Model.OperationCodes)
            {
                <label class="operation-code-list">@code</label>
            }
        </div>
    </details>
}
