@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel

@if (Model.Progress.IsStateOfExportCompleted)
{
    <details>
        <summary>
            <span class="summary">State of export</span>
        </summary>

        <div class="expanded-details">
            <table>
                <thead>
                <th>Country</th>
                <th>Competent Authority</th>
                <th>Entry point</th>
                </thead>
                <tr>
                    <td>@Model.StateOfExportData.Country.Name</td>
                    <td>@Model.StateOfExportData.CompetentAuthority.Name</td>
                    <td>@Model.StateOfExportData.ExitPoint.Name</td>
                </tr>
            </table>
        </div>
    </details>
}
