@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel

@if (Model.Progress.AreTransitStatesCompleted)
{
    <details>
        <summary>
            <span class="summary">Transit states</span>
        </summary>

        <div class="expanded-details">
            <table>
                <thead>
                <th>Country</th>
                <th>Competent Authority</th>
                <th>Entry point</th>
                <th>Exit point</th>
                </thead>
                @foreach (var ts in Model.TransitStates)
                {
                    <tr>
                        <td>@ts.Country.Name</td>
                        <td>@ts.CompetentAuthority.Name</td>
                        <td>@ts.EntryPoint.Name</td>
                        <td>@ts.ExitPoint.Name</td>
                    </tr>
                }
            </table>
        </div>
    </details>
}
