@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel
@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

<div class="grid-row" id="submit-grid-row">
    @Html.Partial("_SummaryTableContainer", Model)
    @Html.Action("SubmitSideBar", new { charge = ViewBag.Charge })
</div>

@section scripts{
    <script>
        $(function () {
            window["detailsOpened"] = false;

            $("#expand-contract").click(function () {
                var container = $(this).parents("div").first();
                var details = container.find("details");
                if (!window["detailsOpened"]) {
                    expandContract(details, true);
                }
                else {
                    expandContract(details, false);
                }
            });
        });

        function expandContract(details, show) {
            details.prop("open", show);
            details.find("div").show();
            details.find("summary").attr("aria-expanded", show);
            details.find("div").attr("aria-hidden", !show);
            window["detailsOpened"] = show;
            $("#expand-contract").text(show ? "Collapse all -" : "Expand all +");
        }

        $("#submit-fixed-sidebar-container").css({
            "position": "absolute",
            "height": "100%",
        });
        
        $("#submit-fixed-sidebar").css({
            "position": "absolute",
            "bottom": "auto"
        });

        var width = $("#submit-fixed-sidebar-container").parents("div").first().width();
        $("#submit-fixed-sidebar").css({
            "width": width
        });
        
        $(window).resize(function () {
            width = $("#submit-fixed-sidebar-container").parents("div").first().width();
            $("#submit-fixed-sidebar").css({
                "width": width
            });
            
        })

        
        var sidebarheight = $("#submit-fixed-sidebar").height();
        $(window).scroll(function () {
            var scroll = $(this).scrollTop();
            var length = $("#submit-grid-row").height() - sidebarheight + $("#submit-grid-row").offset().top;
            var height = $("#submit-fixed-sidebar").height() + "px";
            width = $("#submit-fixed-sidebar-container").parents("div").first().width();

            var mainContentHeight = $("#submit-grid-row").height()
            $("#submit-fixed-sidebar-container").css({
                "height": mainContentHeight
                })
            
                if (scroll < $("#submit-fixed-sidebar-container").offset().top) {
                    $("#submit-fixed-sidebar").css({
                        "position": "absolute",
                        "top": "0",
                        "width": width
                    });
                }
                else if (scroll > length) {
                    $("#submit-fixed-sidebar").css({
                        "position": "absolute",
                        "bottom": 0,
                        "top": "auto",
                        "width": width
                    });
                }
                else {
                    $("#submit-fixed-sidebar").css({
                        "position": "fixed",
                        "top": "0",
                        "height": height,
                        "width": width
                    });
                }
        });
    </script>
}