@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel
@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

<div class="grid-row" id="submit-grid-row">
    <div class="column-two-thirds" id="submit-overview-area">
        @Html.Partial("_SummaryTableContainer", Model)
    </div>
    <div class="column-third" id="submit-side-bar">
        @Html.Partial("_SubmitSideBar", Model.SubmitSideBarViewModel)
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            window["detailsOpened"] = false;

            $("#expand-contract").click(function () {
                var container = $(this).parents("div").first();
                var details = container.find("details");
                if (!window["detailsOpened"]) {
                    expandContract(details, true);
                }
                else {
                    expandContract(details, false);
                }
            });
        });

        function expandContract(details, show) {
            details.prop("open", show);
            details.find("div").show();
            details.find("summary").attr("aria-expanded", show);
            details.find("div").attr("aria-hidden", !show);
            window["detailsOpened"] = show;
            $("#expand-contract").text(show ? "Collapse all -" : "Expand all +");
        }
    </script>
}