@using Resources = EA.Iws.Web.Areas.AdminExportAssessment.Views.UpdateJourney.UpdateJourneyResources
@{
    ViewBag.Title = Resources.TransitStateExitPointChangedTitle;
}

<h1 class="govuk-heading-l">@Resources.TransitStateExitPointChangedTitle</h1>

<p>@(string.Format(Resources.TransitStateExitPointChangedDescription, ViewBag.TransitExitPoint)).</p>

@Html.ActionLink(Constants.ContinueOnlyButtonText, "Index", "Overview", routeValues: null, htmlAttributes: new { @class = "button" })

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}