@using Resources = EA.Iws.Web.Areas.AdminExportAssessment.Views.UpdateJourney.UpdateJourneyResources
@{
    ViewBag.Title = Resources.TransitStateEntryPointChangedTitle;
}

<h1 class="govuk-heading-l">@Resources.TransitStateEntryPointChangedTitle</h1>

<p>@(string.Format(Resources.TransitStateEntryPointChangedDescription, ViewBag.TransitEntryPoint)).</p>

@Html.ActionLink(Constants.ContinueOnlyButtonText, "Index", "Overview", routeValues: null, htmlAttributes: new { @class = "govuk-button" })

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}