@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.UNClass.UNClassViewModel

@{
    ViewBag.Title = "UN classes";
}

<div class="grid-row">
    <header class="hgroup">
        <h1 class="heading-large">What UN classes apply to the waste?</h1>
    </header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    @Html.EditorFor(m => m.EnterWasteCodesViewModel)

    <div class="form-group">
        <button class="button" type="submit" name="command" value="continue">@Constants.ContinueButtonText</button>
    </div>
}

</div>

@section scripts{
    <script>
        (function ($) {
            $(function () {
                $('#code-list').selectToAutocomplete();
            });
        })(jQuery);

    </script>
}