$path: "govuk_toolkit/images/";

$toolkit-font-stack:
  "nta-extended", 
  Arial,
  sans-serif;

$toolkit-font-stack-tabular:
  "ntatabularnumbers",
  "nta-extended", 
  Arial,
  sans-serif;

// GOV.UK
// ==========================================================================

@import "govuk_toolkit/stylesheets/colours";                                
@import "govuk_toolkit/stylesheets/font_stack";                             
@import "govuk_toolkit/stylesheets/measurements";                           
@import "govuk_toolkit/stylesheets/conditionals";                           
@import "govuk_toolkit/stylesheets/device-pixels";                          
@import "govuk_toolkit/stylesheets/grid_layout";                            
@import "govuk_toolkit/stylesheets/typography";                             
@import "govuk_toolkit/stylesheets/shims";                                  
@import "govuk_toolkit/stylesheets/design-patterns/alpha-beta";
@import "govuk_toolkit/stylesheets/design-patterns/buttons";
@import "govuk_toolkit/stylesheets/design-patterns/breadcrumbs";

// GOV.UK Elements
// ==========================================================================

@import "govuk_elements/helpers";
@import "govuk_elements/reset";
@import "govuk_elements/elements-typography";
@import "govuk_elements/layout";
@import "govuk_elements/forms";
@import "govuk_elements/forms/form-block-labels";
@import "govuk_elements/forms/form-date"; 
@import "govuk_elements/forms/form-validation"; 
@import "govuk_elements/tables";
@import "govuk_elements/buttons";
@import "govuk_elements/details";
@import "govuk_elements/lists";
@import "govuk_elements/panels";
@import "govuk_elements/icons";
@import "govuk_elements/shame";

// Custom IWS and overrides
// ==========================================================================

$internal-colour: $pink;
$internal-import-colour: $orange;
$internal-export-colour: $light-blue;
@import "iws/helpers";
@import "iws/display-elements";
@import "iws/layout";
@import "iws/tables";
@import "iws/buttons";
@import "iws/dialog";
@import "iws/navigation";
@import "iws/overview";
@import "iws/details";
@import "iws/movement";
@import "iws/movement-summary";
@import "iws/notification-switcher";
@import "iws/financial-guarantee";
@import "iws/footer";
@import "iws/address-book";
@import "iws/entry-or-exit-point";
@import "jquery-autocomplete";
@import "iws/facility-table";
@import "iws/import-waste-codes";
@import "iws/internal-menu";
@import "iws/panels";
@import "iws/search";
@import "iws/pagination";