@import "_main.scss";

p {
    @extend .govuk-body;
}

a {
    @extend .govuk-link;
}

.js-hidden {
    display: none !important;
}

.dot-red {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
