<div class="footer-agencies">
    <h2 class="heading-medium">Contact details</h2>
    <div class="grid-row">
        <div class="column-half">
            <h3 class="heading-small">England</h3>
            <p>
                Environment Agency 
                <br /> International Waste Shipments Unit
                <br /> Telephone: 03708 506 506
            </p>
            <h3 class="heading-small">Scotland</h3>
            <p>
                Scottish Environment Protection Agency 
                <br /> Producer Compliance and Waste Shipment Unit
                <br /> Telephone: 01786 457 700
            </p>
        </div>
        <div class="column-half">
            <h3 class="heading-small">Northern Ireland</h3>
            <p>
                Northern Ireland Environment Agency 
                <br /> Hazardous Waste/TFS Section 
                <br /> Telephone: 028 90569742
            </p>
            <h3 class="heading-small">Wales</h3>
            <p>
                Natural Resources Wales 
                <br /> Waste Shipment Unit
                <br /> Telephone: 03000 653073
            </p>
        </div>
    </div>
</div>