@if (User.Identity.IsAuthenticated)
{
        <div style="float: right; position: relative; padding: 5px">
            <ul>
                <li>
                    <div class=".text-secondary" style="display: inline-block;">Signed in as:&nbsp</div><div style="font-weight: bold; display: inline-block">@ViewBag.Name </div> </li>
                <li style="float:right;">@Html.ActionLink("Sign out", "LogOff", "Account", new { area = string.Empty }, null)</li>
            </ul>
        </div>
    <div class="account-link-banner" style="position: relative; clear: both; bottom: 0; width: 100%"></div>
}
