<script src="~/Scripts/jquery-2.1.3.min.js"></script>

<div class="header-proposition">
    <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
            <a href="/" id="proposition-name">International Waste Shipments</a>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <ul id="proposition-links">
                        <li>@Html.ActionLink(linkText: "Manage account", actionName: "", controllerName: "")</li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        </li>
                    </ul>
                }
            }
        </nav>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#divConfirmDelete").click(function (e) {
            if (e.target === this && $(this).hasClass("fadeBackground")) {
                $(this).removeClass("fadeBackground");
                $(this).empty();
            }
        });

        $(".deleteLink").click(function () {
            $("#divConfirmDelete").addClass("fadeBackground").removeClass("clearfix");
        });
    })
</script>