@using EA.Iws.Core.Notification;
<div class="footer-agencies">
    <h2 class="heading-medium">Contact details</h2>
    <div class="grid-row">
        <div class="column-half">
            <h3 class="heading-small">England</h3>
            <p>
                Environment Agency 
                <br /> International Waste Shipments Team
                <br /> Telephone: @Html.CompetentAuthorityHelpline(UKCompetentAuthority.England)
            </p>
            <h3 class="heading-small">Scotland</h3>
            <p>
                Scottish Environment Protection Agency 
                <br /> Producer Compliance and Waste Shipment Unit
                <br /> Telephone: @Html.CompetentAuthorityHelpline(UKCompetentAuthority.Scotland)
            </p>
        </div>
        <div class="column-half">
            <h3 class="heading-small">Northern Ireland</h3>
            <p>
                Northern Ireland Environment Agency 
                <br /> Hazardous Waste/TFS Section 
                <br /> Telephone: @Html.CompetentAuthorityHelpline(UKCompetentAuthority.NorthernIreland)
            </p>
            <h3 class="heading-small">Wales</h3>
            <p>
                Natural Resources Wales 
                <br /> Waste Shipment Unit
                <br /> Telephone: @Html.CompetentAuthorityHelpline(UKCompetentAuthority.Wales)
            </p>
        </div>
    </div>
</div>