<div class="header-proposition">
    <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
            <a href="/" id="proposition-name">International Waste Shipments</a>
            @if (Request.IsAuthenticated)
            {
                <ul id="proposition-links">
                    <li>
                        @Html.ActionLink(linkText: "My account", actionName: "Home", controllerName: "Applicant", routeValues: new { area = string.Empty }, htmlAttributes: null)
                    </li>
                </ul>
            }
        </nav>
    </div>
</div>