@if (ViewBag.ShowLinksToAgencies ?? true)
{
    <div class="footer_agencies">
        <div>
            <p>Environment Agency (England) helpline: 03708 506 506</p>
            <p>Scottish Environment Protection Agency helpline: 01786 457 700</p>
            <p>Northern Ireland Environment Agency helpline: 028 90569742</p>
            <p>Natural Resources Wales helpline: 03000 653073</p>
        </div>
        <hr />
    </div>
}