@if (User.Identity.IsAuthenticated)
{
        <div style="float: right; position: relative; padding: 5px">
            <ul>
                <li>
                    <div class="text-secondary" style="display: inline-block;">Signed in as:&nbsp</div><div style="font-weight: bold; display: inline-block">@ViewBag.Name </div>
                </li>
                <li style="float: right;">
                    @using (Html.BeginForm("LogOff", "Account", routeValues: new { area = string.Empty }, method: FormMethod.Post, htmlAttributes: new { id = "logoutForm" }))
                    {
                        <button class="link-submit" type="submit">Sign Out</button>
                    }
                </li>
            </ul>
        </div>
    <div class="account-link-banner" style="position: relative; clear: both; bottom: 0; width: 100%"></div>
}
