<p>Welcome to our International Waste Shipments (IWS) online service.</p>
<p>This Environment Agency online service contains content provided by users of our service who retain all of the copyright in their contributions. Our service is hosted by a third party supplier.</p>
<p>Our service has been created for the purpose of providing access to web-based transactions and services, and to grant electronic access to the related data held by the Environment Agency (EA), the Scottish Environment Protection Agency (SEPA), Natural Resources Wales (NRW) and Northern Ireland Environment Agency (NIEA), in accordance with applicable legal provisions. Our service has been designed with the aim of allowing users of our service to submit electronic notification applications, financial guarantee forms and shipment information ("IWS documents").</p>
<p>Read these terms of use carefully before you start to use our service, as they apply to your use of the service.</p>

<h2 class="heading-medium">Terms of online service use</h2>

<p>These terms of use (together with the documents referred to in it) (the "terms of use") tell you the terms on which you may make use of our service.</p>
<p>
    In these terms of use:
    <ul class="list list-bullet">
        <li>"we", "us" and "our" refers together to the Environment Agency</li>
        <li>"you" means the user of the online service, accessing, reading, uploading and submitting information or otherwise using our service</li>
        <li>"the other agencies" means SEPA, NRW and NIEA</li>
        <li>"content" means all information and other materials about our service</li>
        <li>"document" means any reproducible artefact, file or printed copy of a document which is made as a result of the use of and information contained within our service which has been contributed to by you</li>
        <li>"online service" and "our service" means the IWS online service and is limited to the use of the online functionality provided by us to you to create an account as a user and to create and submit notification applications, financial guarantee forms and shipment information.</li>
    </ul>
</p>
<p>You must provide correct and complete information when using this service, and update this information when necessary.</p>
<p>By creating an account, you agree to be contacted by email. This includes receiving formal notices and communication by email.</p>
<p>You agree not to use the online service in a way that may damage, disable or impair its performance, corrupt or interfere with the content or otherwise reduce the overall functionality of the online service. You also agree not to compromise the security of the online service or attempt to gain access to secured areas or sensitive information. You agree to be fully responsible for any claim, expense, liability, loss and cost – including legal fees incurred by us, arising from any infringement of the terms and conditions set out in this agreement.</p>
<p>If you do not agree to these terms of use, you must not use our service.</p>

<h2 class="heading-medium">Permitted use</h2>

<p>
    We grant you the right to access and use our service. By accessing and using our service you agree that you are:
    <ul class="list list-bullet">
        <li>involved in waste production, storage, recovery, transportation and/or disposal or are an employee or authorised representative of such an organisation</li>
        <li>a statutory or regulatory body or an employee or authorised representative of such an organisation</li>
    </ul>
</p>
<p>
    You shall only access and use our service to:
    <ul class="list list-bullet">
        <li>apply for an IWS notification</li>
        <li>create and/or amend notification applications and to input associated information that you are required to provide under EU legislation or as otherwise requested by our site</li>
        <li>create and/or amend financial guarantee forms</li>
        <li>create and/or amend shipment information</li>
    </ul>
</p>

<h2 class="heading-medium">Information about us</h2>

<p>The Environment Agency is a non-departmental public body whose head office is at Horizon House, Deanery Road, Bristol, BS1 5AH.</p>

<h2 class="heading-medium">Your privacy</h2>

<p>We are committed to protecting and respecting your privacy.</p>
<p>By using our service, you agree to only enter personal data which is accurate in accordance with the requirements of the Data Protection Act 1998.</p>

<h3 class="heading-small">Information we may collect from you</h3>

<p>
    We may collect and process the following information from you:
    <ol class="list list-number">
        <li><strong class="bold-small">information you give us:</strong> such as the data in your notification application or financial guarantee form or any information you provide in your correspondence with us</li>
        <li><strong class="bold-small">information we collect about you:</strong> such as your browser, IP address, and other automatically-generated technical information around your visit to our online service</li>
    </ol>
</p>

<h3 class="heading-small">How we use this information</h3>

<p>
    We process the information you provide so that we can:
    <ul class="list list-bullet">
        <li>deal with your application</li>
        <li>make sure you keep to the conditions of the permit</li>
        <li>process renewals</li>
        <li>offer you documents or services relating to environmental matters</li>
        <li>carry out research and development work on environmental issues</li>
        <li>prevent anyone from breaking environmental law, investigate cases where environmental law may have been broken, and take any action that is needed</li>
        <li>provide information from the public register to anyone who asks</li>
        <li>assess whether customers are satisfied with our service, and improve our service</li>
        <li>respond to requests for information under the Freedom of Information Act 2000 and the Environmental Information Regulations 2004 (if the Data Protection Act allows)</li>
        <li>administer our service for internal operations, including troubleshooting, data analysis, testing and research purposes</li>
        <li>improve our service to ensure that content is presented in the most effective manner for you</li>
        <li>continue making an effort to keep our service safe and secure</li>
    </ul>
</p>

<h3 class="heading-small">Disclosure of your information</h3>

<p>
    We may share your information with selected third parties, including:
    <ul class="list list-bullet">
        <li>our business partners</li>
        <li>our web host, <a href="https://www.civica.com/" target="_blank" rel="external">Civica Digital</a></li>
        <li>analytics and search engine providers that assist us in the improvement and optimisation of our service</li>
    </ul>
</p>

<p>
    We may disclose your personal information to third parties:
    <ul class="list list-bullet">
        <li>if either the Environment Agency or substantially all of its assets are acquired by a third party, in which case personal data held by it about its customers will be one of the transferred assets</li>
        <li>if we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply these terms of use; or to protect the rights, property, or safety of us, our customers, or others</li>
    </ul>
</p>

<h3 class="heading-small">Where we store your personal data</h3>

<p>The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area (EEA). This means that if you are sending waste to China, the data that you submit will be sent to China. It may also be processed by our staff or suppliers who operate outside the EEA. Such staff may be engaged in, among other things, analysing the use of our service in order to improve the service.</p>
<p>By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely.</p>
<p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.</p>

<h2 class="heading-medium">Changes to these terms</h2>

<p>We may, in our complete discretion, revise these terms of use and any documents referred to in them at any time.</p>
<p>Check this page periodically to take notice of any changes we have made, as they are binding on you. Your use or continued use of this online service will be deemed as acceptance of any changes.</p>

<h2 class="heading-medium">Changes to our service</h2>

<p>We may, in our complete discretion, update or change our service from time to time, and may change the content at any time. However, please note that any of the content may be out-of-date at any given time, and we are under no obligation to update it.</p>
<p>We strive to provide our service in a form that is free of errors and/or omissions. However, we do not guarantee that our service, or any content on it, will be free from errors and/or omissions. We may need to make changes to our service to correct any such errors and/or omissions.</p>

<h2 class="heading-medium">Accessing our services</h2>

<p>Our service is made available free of charge.</p>
<p>We do not guarantee that our service, or any content on it, will always be available or be uninterrupted. Access to our service is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or any part of our service without notice. We will not be liable to you if for any reason our service is unavailable at any time or for any period.</p>
<p>You are responsible for making all arrangements necessary for you to have access to our service.</p>
<p>You are also responsible for ensuring that all persons who access our service through your internet connection are aware of these terms of use and other applicable terms and conditions, and that they comply with them.</p>

<h2 class="heading-medium">Testing</h2>

<p>You may be asked to test our service on a separate bespoke test environment during the ongoing development of the service. During testing, you will use the functions available as described in these terms and conditions for the use of the service in the test environment. You may use content from the test environment to create documents.</p>

<h2 class="heading-medium">Your account and password</h2>

<p>If you choose, or you are provided with, a username or password or any other piece of information as part of our security procedures, you must treat such information as confidential. You must not disclose it to any third party.</p>
<p>We have the right to disable any username or password, whether chosen by you or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any of the provisions of these terms of use.</p>
<p>If you know or suspect that anyone other than you knows your username or password, you must promptly notify us at @Html.IwsContactEmail(). It is your responsibility to change your password in these circumstances, and you must do so as soon as possible.</p>
<p>If you disclose your username and password to any third party and they breach any of these terms of use whilst using your login details to access our service, you will be liable for the breach as if you committed it yourself.</p>

<h2 class="heading-medium">The authorities</h2>

<p>Our site provides international waste shipment services that relate to the Environment Agency and related other agencies.</p>
<p>If you submit IWS documents to one of the other agencies, it will be received by the relevant agency. Therefore an IWS document relating to NIEA will be received, viewed and processed by NIEA.</p>

<h2 class="heading-medium">Submission of information</h2>

<p>You are solely responsible for the content of the information you submit to our service, including creating a notification application and submitting shipping information. You may not submit any information or content that you did not create or that you do not have permission to submit. By submitting information or making a contribution, you warrant and represent that you do not own or have the necessary permissions to use it on our service in accordance with the terms of use.</p>
<p>All information submitted to our service must be accurate.</p>
<p>Although we and/or the relevant other agency will review all information you submit in the IWS documents, you always remain responsible for the content of the IWS documents that you have completed and submitted. We and/or the relevant other agency accept no responsibility for the quality or accuracy of any information that you submit to us in the IWS documents.</p>
<p>All information submitted to our service must comply with these terms of use.</p>

<h2 class="heading-medium">Cookies</h2>

<p>As part of GOV.UK, this online service uses cookies. For more information about cookies and examples of cookies which may be used in our service, view our @Html.ActionLink("cookies policy", "Cookies", "NewUser", new { area = string.Empty }, new { target = "_blank" }). By continuing to use our service, you are agreeing to the use of cookies.</p>
<p>If you use your browser settings to block all cookies, including essential cookies, some or all of our service may not work properly.</p>

<h2 class="heading-medium">Intellectual property rights and confidentiality</h2>

<p>You own the copyright in any contribution that you make and any notification application, financial guarantee or shipment information created as a result of that contribution. You grant us and/or the relevant other agency a worldwide, royalty-free, perpetual non-exclusive licence to use any such documents created by you to process your application and for any other regulatory/statutory purposes.</p>
<p>To the extent that we and/or the other agencies own any intellectual property rights in the IWS documents created by you, we and/or the agencies grant you a worldwide, royalty-free, perpetual non-exclusive licence to use any such documents created by you.</p>
<p>This licence does not apply to any content on our service other than the IWS documents outlined above. If you want to use any other content, you must seek separate permission from us.</p>
<p>We and/or the other agencies may exercise all copyright and publicity rights in the material contained in any anonymised version of the information submitted in all jurisdictions, to their full extent and for the full period for which any such rights exist in that material.</p>
<p>Any sub-licence issued by us and/or the other agencies of any anonymised versions of information submitted by you shall be for full and unrestricted non-commercial use rights and commercial rights on condition that all rights of the original contributor are upheld.</p>
<p>Subject to the above, we, the Environment Agency, are the owner or the licencee of all intellectual property rights in our service, and in any material published by users on it.</p>
<p>You may print off or download IWS documents created by you.</p>
<p>Our status (and that of any identified contributors) as the authors of content on our site must always be acknowledged.</p>
<p>Other than the IWS documents, you must not use any part of the content on our site for commercial purposes without obtaining a licence to do so from us.</p>
<p>If you print off, copy or download any part of our site in breach of these terms of use, your right to use our site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</p>

<h2 class="heading-medium">No reliance on information</h2>

<p>The content in our service is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content in our service.</p>
<p>Although we make reasonable efforts to update the information in our service, we make no representations, warranties or guarantees, whether express or implied, that the content in our service is accurate, complete or up-to-date.</p>

<h2 class="heading-medium">Provision of notifications</h2>

<p>The creation of a notification application or any other IWS document does not guarantee that you will be provided with a consented notification.</p>
<p>
    Further steps you will need to take in order to obtain a notification include:
    <ul class="list list-bullet">
        <li>paying the appropriate fee</li>
        <li>providing a financial guarantee</li>
        <li>providing a signed hard copy of the notification application</li>
    </ul>
</p>
<p>We and/or the other agencies reserve the right to reject your notification application. We or the relevant agency will assess your notification application in line with Regulation (EC) No. 1013/2016 ("the Waste Shipment Regulation"). Further information about the Waste Shipment Regulation can be found here: <a href="https://www.gov.uk/guidance/importing-and-exporting-waste#import-or-export-article-18-controls" target="_blank">/www.gov.uk/guidance/importing-and-exporting-waste#import-or-export-article-18-controls</a></p>

<h2 class="heading-medium">Limitation of our liability</h2>

<p>Where information in our service has been contributed by a user in accordance with these terms and conditions, that user is responsible for the content of its submission.</p>
<p>Nothing in these terms of use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by English law.</p>
<p>To the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to our service or any content in it, whether express or implied.</p>
<p>You are solely responsible for the content of any contributions you make to our service, including contributions in your IWS documents and notifications. We do not and cannot give any warranties, reassurances or approval of the accuracy or veracity of contributions made by you or other users of our service. We assume no responsibility for any content provided by you or any other users or guests of our service.</p>
<p>
    We will not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:
    <ul class="list list-bullet">
        <li>use of, or inability to use, our service</li>
        <li>use of or reliance on any content displayed in our service (including, but not limited to, any errors or omissions in the content)</li>
    </ul>
</p>
<p>
    Specifically, we will not be liable for:
    <ul class="list list-bullet">
        <li>loss of profits, sales, business, or revenue</li>
        <li>business interruption</li>
        <li>loss of anticipated savings</li>
        <li>loss of business opportunity, goodwill, reputation, profits or business interruption</li>
        <li>any indirect or consequential loss or damage</li>
    </ul>
</p>
<p>We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our service or to your downloading of any content on it, or on any website linked to it.</p>

<h2 class="heading-medium">Breaches of these terms of use</h2>

<p>We will determine, in our discretion, whether there has been a breach of these terms of use. When a breach of these terms of use has occurred, we may take such action as we deem appropriate.</p>
<p>
    Failure to comply with these terms may result in us taking any or all of the following actions:
    <ul class="list list-bullet">
        <li>immediate, temporary or permanent withdrawal of your right to use our service</li>
        <li>immediate, temporary or permanent removal of any document or other material submitted by you to our service</li>
        <li>issue of a warning to you</li>
        <li>legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach</li>
        <li>further legal action against you</li>
        <li>disclosure of such information to law enforcement authorities as we reasonably feel is necessary</li>
    </ul>
</p>
<p>We exclude liability for actions taken in response to breaches of these terms of use. The responses described in these terms of use are not limited, and we may take any other action we reasonably deem appropriate.</p>

<h2 class="heading-medium">Viruses</h2>

<p>We do not guarantee that our service will be secure or free from bugs or viruses.</p>
<p>You are responsible for configuring your information technology, computer programs and platform in order to access our service. You should use your own virus protection software.</p>
<p>You must not misuse our service by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our service, the server on which our service is stored or any server, computer or database connected to our service. You must not attack our service via a denial-of-service attack or a distributed denial-of-service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our service will cease immediately.</p>

<h2 class="heading-medium">Prohibited uses</h2>

<p>
    You may use our service only for lawful purposes. You may not use our services or submit any information which:
    <ul class="list list-bullet">
        <li>breaches any applicable local, national or international law in any way</li>
        <li>is unlawful or fraudulent in any way, or has any unlawful or fraudulent purpose or effect</li>
        <li>impersonates any person, or misrepresents your identity or affiliation with any person</li>
        <li>is made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence</li>
        <li>promotes any illegal activity</li>
        <li>knowingly transmits any data, sends or uploads any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware</li>
    </ul>
</p>
<p>
    You also agree:
    <ul class="list list-bullet">
        <li>not to reproduce, duplicate, copy or re-sell any part of our service in contravention of the provisions of these terms of use</li>
        <li>
            not to access without authority, interfere with, damage or disrupt:
            <ul class="list list-bullet">
                <li>any part of our service</li>
                <li>any equipment or network on which our service is stored</li>
                <li>any software used in the provision of our service</li>
                <li>any equipment or network or software owned or used by any third party</li>
            </ul>
        </li>
    </ul>
</p>

<h2 class="heading-medium">Third party links and resources in our services</h2>

<p>Where our service contains links to other sites and resources provided by third parties, these links are provided for your information only. The inclusion of a link to another site does not imply endorsement by us of the site or any association with its operators.</p>
<p>We have no control over the contents of those sites or resources and we are not responsible for the content of any linked sites.</p>
<p>We will not be liable for any loss or damage that may arise from your use of any linked sites.</p>

<h2 class="heading-medium">Linking to our service</h2>

<p>You may link to our online service, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it.</p>
<p>You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.</p>
<p>You must not establish a link to our service in any website that is not owned by you.</p>
<p>Our service must not be framed on any other site, nor may you create a link to any part of our service other than the home page.</p>
<p>We reserve the right to withdraw linking permission without notice.</p>
<p>The website in which you are linking must comply in all respects with these terms of use.</p>
<p>If you wish to make any use of content on our service other than that set out above, please contact us at @Html.IwsContactEmail().</p>

<h2 class="heading-medium">Applicable law</h2>

<p>These terms of use, its subject matter and its formation, are governed by English law. All rights, obligations and remedies contained in these terms of use are governed by English law.  Any contractual or non-contractual disputes regarding such matters or regarding our service are governed by English law and we and you both agree to the exclusive jurisdiction of the courts of England and Wales.</p>

<h2 class="heading-medium">Logos and trademarks</h2>

<p>You cannot use the logos or other registered trademarks on our service without formal permission from us or the owner of that logo.</p>

<h2 class="heading-medium">Contact us</h2>

<p>To contact us, request help, or complain about the content of our service, email @Html.IwsContactEmail().</p>
<p>We will inform you of the outcome of our review of any complaint made by you within a reasonable time after receiving your complaint.</p>