@using EA.Iws.Core.Notification;

<div class="footer_agencies">
    <h2 class="govuk-footer__heading govuk-heading-m govuk-!-margin-bottom-2" style="border-bottom: 0px;">Contact details</h2>
    <ul class="govuk-footer__list govuk-footer__list--columns-2">
        <li class="govuk-footer__list-item">
            <h3 class="govuk-heading-s">England</h3>
            <p class="govuk-body govuk-body govuk-!-font-size-16">
                Environment Agency <br />
                International Waste Shipments Team <br />
                Telephone: @Html.CompetentAuthorityHelpline(UKCompetentAuthority.England) <br />
                Email: <a href="mailto:askshipments@environment-agency.gov.uk">askshipments@environment-agency.gov.uk</a>
            </p>
        </li>
        <li class="govuk-footer__list-item">
            <h3 class="govuk-heading-s">Scotland</h3>
            <p class="govuk-body govuk-body govuk-!-font-size-16">
                Scottish Environment Protection Agency <br />
                Producer Compliance and Waste Shipment Unit <br />
                Telephone: @Html.CompetentAuthorityHelpline(UKCompetentAuthority.Scotland) <br />
                Email: <a href="mailto:Transfrontier@sepa.org.uk">Transfrontier@sepa.org.uk</a>
            </p>
        </li>
        <li class="govuk-footer__list-item">
            <h3 class="govuk-heading-s">Northern Ireland</h3>
            <p class="govuk-body govuk-body govuk-!-font-size-16">
                Northern Ireland Environment Agency <br />
                Hazardous Waste/TFS Section <br />
                Telephone: @Html.CompetentAuthorityHelpline(UKCompetentAuthority.NorthernIreland) <br />
                Email: <a href="mailto:tfs@daera-ni.gov.uk">tfs@daera-ni.gov.uk</a>
            </p>
        </li>
        <li class="govuk-footer__list-item">
            <h3 class="govuk-heading-s">Wales</h3>
            <p class="govuk-body govuk-body govuk-!-font-size-16">
                Natural Resources Wales <br />
                Waste Shipment Unit <br />
                Telephone: @Html.CompetentAuthorityHelpline(UKCompetentAuthority.Wales) <br />
                Email: <a href="mailto:waste-shipments@naturalresourceswales.gov.uk">waste-shipments@naturalresourceswales.gov.uk</a>
            </p>
        </li>
    </ul>
</div>