<div class="footer-agencies">
    <h2>Contact details</h2>
    <ul>
        <li>Environment Agency (England) helpline: 03708 506 506</li>
        <li>Scottish Environment Protection Agency helpline: 01786 457 700</li>
        <li>Northern Ireland Environment Agency helpline: 028 90569742</li>
        <li>Natural Resources Wales helpline: 03000 653073</li>
    </ul>
</div>