
<div id="govuk-timeout-overlay" class="govuk-timeout-overlay" style="display:none"></div>
<div id="govuk-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="govuk-timeout-dialog" aria-labelledby="govuk-timeout-heading govuk-timeout-message" style="display:none">
    <div>
        <h1 id="govuk-timeout-heading" class="govuk-heading-m push--top">
            You will be signed out soon
        </h1>
        <p class="govuk-body govuk-timeout-dialog__message" aria-hidden="true">
            For your security, you will be signed out in
            <span id="govuk-timeout-countdown" class="govuk-timeout-dialog__countdown">
            </span>.
        </p>
        <div class="govuk-button-group">
            <button id="govuk-timeout-keep-signin-btn" class="govuk-button">
                Continue
            </button>

            @using (Html.BeginForm("LogOff", "Account", method: FormMethod.Post, htmlAttributes: new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()

                <input class="link-submit" id="link-sign-out" type="submit" value="Sign out" />
            }
        </div>
    </div>
</div>