<p>
    <ul id="proposition-links">
        <li>
            @Html.ActionLink(linkText: "Go to your homepage", actionName: "Index", controllerName: "Home", routeValues: new { area = "" }, htmlAttributes: null)
        </li>
    </ul>
</p>