@model EA.Iws.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<main id="page-container" role="main">
    @Html.Partial("_FeedbackBanner")
    <div class="grid-row">
        <section class="column-two-thirds">
            <header class="hgroup">
                <h1 class="heading-large">Apply for a Notification Number</h1>
                <h2 class="subtitle">Subtitle</h2>
            </header>

            <div>
                <p>More explanation text here.</p>
            </div>

            <div>
                <p>Use this service to:</p>
                <ul class="list-bullet">
                    <li>Apply for an International Waste Shipment Notification Number.</li>
                    <li>Download the International Waste Shipment Notification application form and supporting documents.</li>
                </ul>
            </div>

            <p id="get-started" class="get-started group">
                @Html.ActionLink("Start now", "login", "Action", null, new { @class = "button-get-started button" })
            </p>

        </section>

    </div>
</main>