@model EA.Iws.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<main id="page-container" role="main">
    @Html.Partial("_FeedbackBanner")
    <div class="grid-row">
        <section class="column-two-thirds">
            <header class="hgroup">
                <h1 class="heading-large">Home page</h1>
                <h2 class="subtitle">Subtitle</h2>
            </header>
        </section>
    </div>
</main>