
@{
    ViewBag.Title = "Reports";
}

<h1 class="heading-large">Reports</h1>

<ul class="list-bullet">
    <li>@Html.ActionLink("Export stats", "Index", "ExportStats")</li>
    <li>@Html.ActionLink("Missing shipments", "Index", "MissingShipments")</li>
    <li>@Html.ActionLink("Data Export Notifications", "Index", "ExportNotifications")</li>
    <li>@Html.ActionLink("Finance report", "Index", "Finance")</li>
</ul>