@{
    ViewBag.Title = "Approval rejected";
}

<h2 class="heading-large">International Waste Shipments administration</h2>

<p>Your request for an IWS internal user account has been rejected. If you believe this decision has been made in error please speak to a team leader.</p>

@Html.ActionLink("Sign out", "LogOff", "Account", new { area = string.Empty }, new {@Class = "button"})


