@{
    ViewBag.Title = "Approval rejected";
}

<h1 class="govuk-heading-l">International Waste Shipments administration</h1>

<p>Your request for an IWS internal user account has been rejected. If you believe this decision has been made in error please speak to a team leader.</p>

@Html.ActionLink("Sign out", "LogOff", "Account", new { area = string.Empty }, new {@Class = "govuk-button" })


