@{
    ViewBag.Title = "Pending approval";
}

<h2 class="heading-large">International Waste Shipments administration</h2>

<p>At present your request is pending, please check back soon.</p>

@using (Html.BeginForm("LogOff", "Account", routeValues: new { area = string.Empty }, method: FormMethod.Post, htmlAttributes: new { id = "logoutForm" }))
{
    <button class="button" type="submit">Sign Out</button>
}



