@using EA.Iws.Core.Shared
@model EA.Iws.Web.Areas.Movement.ViewModels.Complete.SuccessViewModel

@{
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
    ViewBag.Title = "Certificate of receipt upload successful";
    bool isRecovery = (Model.NotificationType == NotificationType.Recovery);
}

<div class="grid-row">
    <section class="column-two-thirds">
        <header class="hgroup">
            <h1 class="heading-large">Thank you. Your certificate of @(isRecovery ? "recovery" : "disposal")  is now uploaded</h1>
        </header>
        @Html.HiddenFor(m => m.NotificationId)

        <p>Your shipment is recorded as received and @(isRecovery ? "recovered" : "disposed of").</p>

        <p>
            @Html.ActionLink("Go to shipment summary", "Index", "Home",
                new { notificationId = Model.NotificationId, area = "NotificationMovements" },
                new { @class = "button" })
        </p>
    </section>
</div>