@using Resources = EA.Iws.Web.Areas.NotificationApplication.Views.Shared.CountryNotListedDisclosureResources
<div class="form-group">
    <details>
        <summary>
            <h2 class="summary heading-xsmall">@Resources.Title</h2>
        </summary>
        <div class="panel">
            <p>@Resources.Text</p>
        </div>
    </details>
</div>