@using Resources = EA.Iws.Web.Areas.NotificationApplication.Views.Shared.CountryNotListedDisclosureResources
<div class="govuk-form-group">
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                @Resources.Title
            </span>            
        </summary>
        <div class="govuk-details__text">
            <p>@Resources.Text</p>
        </div>
    </details>
</div>