@using EA.Iws.Web.Areas.NotificationApplication.Views.Shared
<div class="form-group">
    <details>
        <summary><h2 class="summary heading-xsmall">@_PortNotListedDisclosureResources.PortNotListedTitle</h2></summary>
        <div class="panel-indent">
            <p>@Html.Raw(_PortNotListedDisclosureResources.PortNotListedText)</p>
        </div>
    </details>
</div>