@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.Decision.NotificationAssessmentDecisionViewModel

<div class="form-group @Html.Gds().FormGroupClass(m => m.ReasonsForConsentWithdrawal)">
    <label class="heading-medium">@Html.DisplayNameFor(m => m.ReasonsForConsentWithdrawal)</label>
    @Html.Gds().ValidationMessageFor(m => m.ReasonsForConsentWithdrawal)
    @Html.TextAreaFor(m => m.ReasonsForConsentWithdrawal, new { @class = "text-area two-thirds", @MaxLength = "4000" })
</div>