<div class="grid-row">
    <header class="hgroup"><h1 class="heading-large">Your transit route doesn't require any customs details</h1></header>

    @Html.ActionLink(Constants.ContinueButtonText, "Index", "Shipment", null, htmlAttributes: new { @class = "button" })
</div>