@using EA.Iws.Web.Areas.NotificationApplication.Views.CustomsOffice
<div class="grid-row">
    <header class="hgroup">
        <h1 class="heading-large">@NoCustomsOfficeResources.Header</h1>
    </header>

    @Html.ActionLink(Constants.ContinueButtonText, "Index", "Shipment", null, htmlAttributes: new { @class = "button" })
</div>