@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.WasteCodes.YCodesViewModel

@{
    ViewBag.Title = "Y codes, H codes and UN class";
}

<div class="grid-row">
    <header class="hgroup">
        <h2 class="heading-large">What Y codes apply to the waste?</h2>
    </header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    @Html.EditorFor(m => m.EnterWasteCodesViewModel)

    <div class="form-group">
        <button class="button" type="submit" name="command" value="continue">Save and Continue</button>
    </div>
}

</div>

@section scripts{
    <script>
        (function ($) {
            $(function () {
                $('#ycode-list').selectToAutocomplete();
                $('#hcode-list').selectToAutocomplete();
                $('#unclass-list').selectToAutocomplete();
            });
        })(jQuery);

        $(function () {
            $('#YcodeAdd').css('display', 'inline-block');

            $('#HcodeAdd').css('display', 'inline-block');

            $('#UnClassAdd').css('display', 'inline-block');

            var codeAdded = $('#typeOfCodeAdded').val();

            if (codeAdded == "Y") {
                $('#YcodeAdd').prev('.ui-autocomplete-input').focus().val('');
            }

            if (codeAdded == "H") {
                $("html, body").animate({ scrollTop: ($('#HcodePosition').offset().top) }, 500);
                $('#HcodeAdd').prev('.ui-autocomplete-input').focus().val('');
            }

            if (codeAdded == "UN") {
                $("html, body").animate({ scrollTop: ($('#UnClassPosition').offset().top) }, 500);
                $('#UnClassAdd').prev('.ui-autocomplete-input').focus().val('');
            }

        });

    </script>
}