@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.WasteCodeOverviewViewModel
@{
    var codeDefinitionListPartialName = Constants.ExternalNotificationOverviewSectionsLocation + "_CodeDefinitionList.cshtml";
}

<div class="overview-block">
    @if (Model.AreEwcCodesCompleted)
    {
        if (Model.AreEwcCodesNotApplicable)
        {
            <div class="overview-block">Not applicable</div>
        }
        else
        {
            @Html.Partial(codeDefinitionListPartialName, Model.EwcCodes)
        }
    }
    else
    {
        <div class="overview-block">@ViewBag.SectionIncompleteText</div>
    }
</div>