@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.AmountsAndDatesViewModel
<div class="overview-block">
    <div class="overview-block-element">
        @if (Model.IntendedShipmentData.NumberOfShipments > 0)
        {
            @Html.Raw(string.Format("{0:0.####} {1}", Model.IntendedShipmentData.Quantity, Model.IntendedShipmentData.Units))
        }
        else
        {
            @ViewBag.SectionIncompleteText
        }
    </div>
</div>