@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.TransportationViewModel

<div class="overview-block">
    <div class="overview-block-element">
        @if (Model.IsMeansOfTransportCompleted)
        {
            for (int i = 0; i < Model.MeanOfTransport.Count; i++)
            {
                @Html.DisplayFor(m => m.MeanOfTransport[i].DisplayName)
                if (i != Model.MeanOfTransport.Count - 1)
                {
                    <text>&#8594;</text>
                }
            }
        }
        else
        {
            @ViewBag.SectionIncompleteText
        }
    </div>
</div>