@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.WasteCodeOverviewViewModel
@{
    var codeDefinitionListPartialName = Constants.ExternalNotificationOverviewSectionsLocation + "_CodeDefinitionList.cshtml";
}

<div class="overview-block">
    @if (Model.AreUnNumbersCompleted)
    {
        if (Model.AreUnNumbersNotApplicable)
        {
            <div class="overview-block-element">Not applicable</div>
        }
        else
        {
            @Html.Partial(codeDefinitionListPartialName, Model.UnNumber)
        }
    }
    else
    {
        <div class="overview-block-element">@ViewBag.SectionIncompleteText</div>
    }
</div>