@using Resource = EA.Iws.Web.Areas.Admin.Views.Configuration.Index

@{
    ViewBag.Title = Resource.TabTitle;
}

<h1 class="heading-large">@Resource.Title</h1>

<p>@Resource.LeadParagraph</p>

<ul class="form-group">
    <li>@Html.ActionLink(Resource.EntryOrExitPointLink, "Index", "EntryOrExitPoint")</li>
</ul>

@Html.ActionLink(Resource.ReturnHomeLink, "Index", "Home")