@using Resources = EA.Iws.Web.Areas.AdminExportAssessment.Views.MarkAsInterim.UpdateInterimStatusResources

@{
    ViewBag.Title = Resources.Title;
}

<h1 class="heading-large">@Resources.Heading</h1>




@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}