@using Resources = EA.Iws.Web.Areas.ImportNotification.Views.UpdateJourney.UpdateJourneyResources
@{
    ViewBag.Title = Resources.EntryPointChangedTitle;
}

<h1 class="heading-large">@Resources.EntryPointChangedTitle</h1>

<p>@(string.Format(Resources.EntryPointChangedDescription, ViewBag.EntryPoint)).</p>

@Html.ActionLink(Constants.ContinueOnlyButtonText, "Index", "Home", routeValues: null, htmlAttributes: new { @class = "button" })