@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Options.UnavailableViewModel
@using Resource = EA.Iws.Web.Areas.NotificationApplication.Views.UpdateHistory.IndexResources

<section class="grid-row">
    <div class="column-full">
        <h1 class="heading-large">@Resource.Title</h1>
        <p>@Resource.UpdateHistoryInfo</p>
    </div>
</section>
