@using Resource = EA.Iws.Web.Areas.NotificationApplication.Views.UpdateHistory.IndexResources


<div class="govuk-form-group">
    <h1 class="govuk-heading-l">@Resource.Title</h1>
    <p>@Resource.UpdateHistoryInfo</p>
</div>

