@using Resource = EA.Iws.Web.Areas.NotificationApplication.Views.UpdateHistory.NoChangesResources
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.UpdateHistory.NoChangesViewModel

@{
    ViewBag.Title = @Resource.TabTitle;
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

@Html.Partial("_Title", null)

<div class="margin-bottom-30 margin-top-30 ">
    <h3 style="text-align:center; font-size:36px">No updates available</h3>
</div>

@Html.ActionLink("Go to Notification Overview", "Index", "Home", new { @Model.NotificationId, backToOverview = true }, null)
