@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.WasteCodeOverviewViewModel
@{
    var codeDefinitionListPartialName = Constants.InternalExportNotificationOverviewSectionsLocation + "_CodeDefinitionList.cshtml";
}

<div class="overview-block">
    @if (Model.AreEwcCodesCompleted)
    {
        if (Model.AreEwcCodesNotApplicable)
        {
            <div class="overview-block">Not applicable</div>
		}
		else
		{
			if (Model.CanEditEWCCodes)
			{
				<div class="change-answer">@Html.ActionLink("Change", "Index", "EditEwcCode", new { id = Model.NotificationId }, null)</div>
			}
            @Html.Partial(codeDefinitionListPartialName, Model.EwcCodes)
        }
    }
    else
    {
        <div class="overview-block">@ViewBag.SectionIncompleteText</div>
    }
</div>