@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.AmountsAndDatesViewModel

<div class="overview-block">
    <div class="overview-block-element">
        @if (Model.IntendedShipmentData.NumberOfShipments > 0)
        {
            @Model.IntendedShipmentData.NumberOfShipments

            if (Model.ShowChangeShipmentNumberLink)
            {
                <div class="change-answer" >@Html.ActionLink("Change", "Index", "NumberOfShipments", new { id = Model.NotificationId }, null)</div>
            }
        }
        else
        {
            @ViewBag.SectionIncompleteText
        }
    </div>
</div>