@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.AmountsAndDatesViewModel

<div class="overview-block">
    <div class="overview-block-element">
        @if (Model.IntendedShipmentData.NumberOfShipments > 0)
        {
            @Model.IntendedShipmentData.NumberOfShipments

            if (Model.ShowChangeShipmentNumberLink)
            {
                <text>&nbsp; &nbsp; &nbsp;</text>@Html.ActionLink("Change", "Index", "ShipmentNumber", new { id = Model.NotificationId }, null)
            }
        }
        else
        {
            @ViewBag.SectionIncompleteText
        }
    </div>
</div>