@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.RecoveryOperationViewModel
           
<div class="overview-block">
    <div class="overview-block-element">
        @if (Model.OperationCodes.Any())
        {
            if (Model.CanEditCodes)
            {
                <div class="change-answer">@Html.ActionLink("Change", "Edit", "OperationCodes", new { id = Model.NotificationId }, null)</div>
            }
            @Html.Raw(string.Join(", ", Model.OperationCodes))
        }
        else
        {
            @ViewBag.SectionIncompleteText
        }
    </div>
</div>