@model EA.Iws.Web.Areas.ExportMovement.ViewModels.SuccessViewModel

@{
    ViewBag.Title = "Certificate of receipt upload successful";
}


<header class="hgroup">
    <h1 class="heading-large">You've successfully recorded the receipt of this shipment</h1>
</header>
@Html.HiddenFor(m => m.NotificationId)

<div class="form-group">
    @Html.ActionLink("Go to notification options", "Index", "Options",
        new { area = "NotificationApplication", id = Model.NotificationId },
        new { @class = "button" })
</div>

@Html.FeedbackLink()
