@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.AmountsAndDatesViewModel
@{
    var viewLocation = Constants.InternalExportNotificationOverviewSectionsLocation;
}

<table class="overview-table">
    <thead>
        <tr>
            <th colspan="2">
                <h2 class="heading-medium">Amounts and dates</h2>
            </th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Intended&nbsp;total&nbsp;shipments                
                <p class="govuk-body-s">Block 4</p>
            </td>
            <td>
                @Html.Partial(viewLocation + "_IntendedShipments.cshtml")
            </td>
        </tr>
        @if(Model.IntendedShipmentData.ShouldDisplayShipmentSelfEnterDataQuestion)
        { 
            <tr>
                <td>
                    External&nbsp;shipment&nbsp;data&nbsp;entry?
                </td>
                <td>
                    @Html.Partial(viewLocation + "_IntendedSelfEnterShipmentData.cshtml")
                </td>
            </tr>
        }
        <tr>
            <td>
                Intended&nbsp;total&nbsp;quantity
                <p class="govuk-body-s">Block 5</p>
            </td>
            <td>
                @Html.Partial(viewLocation + "_IntendedQuantity.cshtml")
            </td>
        </tr>
        <tr>
            <td>
                Intended&nbsp;dates&nbsp;of&nbsp;departure
                <p class="govuk-body-s">Block 6</p>
            </td>
            <td>
                @Html.Partial(viewLocation + "_IntendedDates.cshtml")
            </td>
        </tr>
    </tbody>
</table>