@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.AmountsAndDatesViewModel
@{
    var viewLocation = Constants.InternalExportNotificationOverviewSectionsLocation;
}

<table class="overview-table">
    <thead>
        <tr>
            <th colspan="2">
                <h2 class="heading-medium">Amounts and dates</h2>
            </th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Intended&nbsp;total&nbsp;shipments
            </td>
            <td>
                @Html.Partial(viewLocation + "_IntendedShipments.cshtml")
            </td>
        </tr>
        <tr>
            <td>
                Intended&nbsp;total&nbsp;quantity
            </td>
            <td>
                @Html.Partial(viewLocation + "_IntendedQuantity.cshtml")
            </td>
        </tr>
        <tr>
            <td>
                Intended&nbsp;dates&nbsp;of&nbsp;departure
            </td>
            <td>
                @Html.Partial(viewLocation + "_IntendedDates.cshtml")
            </td>
        </tr>
    </tbody>
</table>