
@{
    ViewBag.Title = "Notification read-only";
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

<header class="hgroup text">
    <h1 class="heading-large">Your notification is read-only</h1>
</header>

<p>
    The notification application cannot be edited because it is read-only.
</p>