@model EA.Iws.Core.Admin.InternalUserData
@using Resources = EA.Iws.Web.Areas.Admin.Views.UserAdministration.UserAdministrationResources
@{
    ViewBag.Title = Resources.UserRoleChangedTitle;
}

<h1 class="heading-large">@Resources.UserRoleChangedTitle</h1>

<p>@string.Format(Resources.UserRoleChangedParagraph, Model.FullName ,EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Role))</p>

@Html.ActionLink(Constants.ContinueOnlyButtonText, "Index", "Home", null, new { @class = "button" })