@model EA.Iws.Core.Admin.InternalUserData
@using EA.Iws.Core.Admin
@using Resources = EA.Iws.Web.Areas.Admin.Views.UserAdministration.UserAdministrationResources
@{
    ViewBag.Title = Resources.UserStatusChangedTitle;
}

<h1 class="heading-large">@Resources.UserStatusChangedTitle</h1>

<p>
    The changes you have made have been confirmed.
    @if (Model.Status == InternalUserStatus.Inactive)
    {
        @string.Format(Resources.UserNowInactive, Model.FullName)
    }
    else
    {
        @string.Format(Resources.UserNowActive, Model.FullName)
    }
</p>

@Html.ActionLink(Constants.ContinueOnlyButtonText, "Index", "Home", null, new { @class = "button" })