@model EA.Iws.Web.Areas.ImportNotification.ViewModels.EditContact.EditContactViewModel
@{
	ViewBag.Title = "Amend exporter details";
}

<h1 class="heading-large">Amend exporter details</h1>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.Gds().ValidationSummary()

	@Html.EditorForModel()

	<button type="submit" class="button">@Constants.ContinueButtonText</button>
}
