@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Options.UnavailableViewModel
@{
    ViewBag.Title = "Action unavailable";
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

<div class="grid-row column-two-thirds">
    <h1 class="heading-large">This action is not available because the notification has not been submitted</h1>

    <div class="form-group">
        @Html.ActionLink("Return to notification options", "Index", "Options", new { id = Model.NotificationId, area = "NotificationApplication" }, new { @class = "button"})
    </div>
</div>