@using Resource = EA.Iws.Web.Areas.NotificationMovements.Views.PrenotificationBulkUpload.PrenotificationBulkUploadResources
@model EA.Iws.Web.Areas.NotificationMovements.ViewModels.PrenotificationBulkUpload.ShipmentMovementDocumentsViewModel

@{
    ViewBag.Title = @Resource.SuccessTitle;
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div>
            <h1 class="heading-large">@Resource.SuccessHeaderText</h1>
        </div>
    </div>
</div>