@model EA.Iws.Web.Areas.Admin.ViewModels.Menu.AdminLinksViewModel
<ul>
    @if (Model.ShowApproveNewInternalUserLink)
    {
        <li>@Html.ActionLink("Manage new users", "ManageNewUsers", "UserAdministration", new { area = "Admin" }, null)</li>
    }
    @if (Model.ShowManageExistingInternalUserLink)
    {
        <li>@Html.ActionLink("Change user role", "ChangeUserRole", "UserAdministration", new { area = "Admin" }, null)</li>
        <li>@Html.ActionLink("Change user status", "ChangeUserStatus", "UserAdministration", new { area = "Admin" }, null)</li>
    }
    @if (Model.ShowAddNewEntryOrExitPointLink)
    {
        <li>@Html.ActionLink("New ports or border crossings", "Index", "EntryOrExitPoint", new { area = "Admin" }, null)</li>
    }
</ul>
