<ul>
    <li>@Html.ActionLink("Export stats", "Index", "ExportStats", new { area = "Reports" }, null)</li>
    <li>@Html.ActionLink("Missing shipments", "Index", "MissingShipments", new { area = "Reports" }, null)</li>
    <li>@Html.ActionLink("Data Export Notifications", "Index", "ExportNotifications", new { area = "Reports" }, null)</li>
    <li>@Html.ActionLink("Finance report", "Index", "Finance", new { area = "Reports" }, null)</li>
</ul>
