@using Resource = EA.Iws.Web.Areas.AdminExportAssessment.Views.NumberOfShipments.ConfirmResources

@{
    ViewBag.Title = Resource.Title;
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@Resource.Heading</h1>

        
    </div>
</div>



@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Shipments })
}