@using EA.Iws.Web.Views.Feedback
@{
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
    ViewBag.Title = FeedbackSentResources.Title;
}

<div class="grid-row">
    <section class="column-two-thirds">
        <header class="hgroup">
            <h1 class="heading-large">@FeedbackSentResources.Header</h1>
        </header>

        <p>@FeedbackSentResources.ThanksMessage</p>

        <p>@FeedbackSentResources.UpdateServiceMessage</p>
    </section>
</div>