@{
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
    ViewBag.Title = "Feedback sent";
}

<div class="grid-row">
    <section class="column-two-thirds">
        <header class="hgroup">
            <h1 class="heading-large">Thank you for your feedback</h1>
        </header>

        <p>Thanks for sharing your comments on the IWS online service. It will help improve the service for everyone.</p>

        <p>We regularly update this service and pay careful attention to all the feedback we receive.</p>

        <div class="form-group">
            <button class="button" type="submit">Continue</button>
        </div>
    </section>
</div>
