<div>
    <p>
        If you are transporting waste into or through the EU; you must provide customs office details for the point of exit from the EU.  This information is required if your waste exits the EU at any point during the journey, after leaving the UK.  Customs office details can be found on the <a href="http://ec.europa.eu/taxation_customs/dds2/col/col_search_home.jsp?Lang=en" target="_blank">European Commission</a> website.
        If a customs office has not been designated for your point of entry into/out of the EU please contact the competent authority of the relevant country
    </p>
</div>