main {
    font-family: "nta-extended", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 641px) {
    main {
        font-size: 19px;
        line-height: 1.31579;
    }
}

.heading-large {
    margin-top: 1.25em;
    margin-bottom: 0.55em;
    font-size: 36px;
    line-height: 1.1111;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
}

.text {
    max-width: 30em;
}

p {
    margin-top: 0.26em;
    margin-bottom: 1.05em;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

.column-two-thirds {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media(min-width: 641px) {
    .column-two-thirds {
        float: left;
        width: 66.66667%
    }
}

#content, #global-header-bar {
    max-width: 960px;
    margin: 0 15px
}

@media(min-width: 641px) {
    #content, #global-header-bar {
        margin: 0 30px
    }
}

@media(min-width: 1020px) {
    #content, #global-header-bar {
        margin: 0 auto
    }
}

#global-header-bar .inner-block {
    padding: 0;
}

b {
    font-weight: bold;
    text-transform: uppercase;
}

.example-images img {
    max-width: 100%;
    vertical-align: top;
}

.data .bold-xlarge,
.data .bold-xxlarge {
    line-height: 0.8;
}

.example .data p {
    margin-bottom: 0;
}

.progress-indicator {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    color: #6f777b;
    margin: 30px 0 15px;
}

.example-button .button {
    margin-bottom: 15px;
}

.example-button .heading-small {
    margin-top: 0;
}

.example-button .swatch-wrapper {
    width: 100%;
}

.example-button ul {
    padding-bottom: 0;
}

.hgroup h2 .subtitle {
    margin: 0;
}

.account-links li {
    clear: both;
    margin: 2px 5px 0 5px;
    padding: 0;
    float: left;
    width: auto;
    padding: 3px 12px;
}

li.clear-child {
    clear: left;
}

.account-links:after {
    content: "";
    display: block;
    clear: both;
}

.validation-summary-errors {
}

.field-validation-valid {
    padding-bottom: 0;
    padding-top: 0;
}

.link-submit {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.text-area {
    height: 200px;
    font-size: 19px;
}

.grid-view:last-child {
    float: none;
    margin-bottom: 10px;
}

.operation-code-list {
    display: inline-block;
    background-color: #2b8cc4;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 15px;
    color: white;
    font-weight: bold;
}

.inline-block-label {
    float: none;
    display: inline-block;
    margin-right: 12px;
}

.force-newline {
    display: block;
    margin-top: 15px;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.js-enabled .hide-for-initial-load {
    display: none;
}

.top-blue-line {
    margin-top: 10px;
    border-top: 10px;
    border-top: solid;
    border-top-color: #005ea5;
}

.wastecode-block {
    margin-bottom: 70px;
}

.status-circle {
    font-size: 21px !important;
}

.action-dropdown {
    width: 100%;
}

.top-content-box {
    text-align: right;
    padding: 5px;
}

.username-format {
    font-weight: bold;
    /*color: $black;*/
}

#homepage-link-container {
    position: absolute;
    margin-top: 10px;
}

.green-tick {    
    padding-left: 10px;
}

dl.object-summary {
    padding: 9px;    
    margin-bottom: 16px;
    display: inline;
    margin: 0;
}

dd:after {
    display: block;
    content: '';
}

dt {
    font-weight: bold;
    margin-right: 16px;
    display: inline-block;
    min-width: 100px;
}

.international-number-prefix {
    display: inline-block;
    width: 100px;
}

.plus-label {
    display: inline-block;
}

address > span {
    display: block;
    font-style: normal;
}

.what-next-list li {
    list-style-position: inside;
    list-style-type: disc;
}

table.table-pad-bottom {
    margin-bottom: 1em;
}

#descriptionTextArea > div {    
    padding-top: 10px;
    min-height: 50px;
    padding-bottom: 10px;
}

.form-control-wide {
    width: 100%;
}

#list-item-other-container {
    margin-top: 10px;
}

.multi-line .block-label {
    margin-bottom: 10px;
}

.form-control-narrow {
    width: 20%;
}

.stickem-row {
    position: relative;
}

.stickem-row::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.stickem-container .stickem {
    width: 330px;
}

.stickit {
    margin-left: 660px;
    position: fixed;
    top: 0;
}

.stickit-end {
    bottom: 40px;
    position: absolute;
    right: 0;
}

.details-summary-error {
    background-color: rgba(175, 4, 35, 1);
    width: 100%;
}

.summary-error-header {
    padding-left: 20px;
    text-decoration: none !important;
}

.summary-error-row {
    box-sizing: border-box;
}

.summary-error-icon {
    float: right;
    vertical-align: top;
}

.summary-warning-header {
    padding-left: 20px;
    text-decoration: none !important;
}

.summary-warning-row {
    box-sizing: border-box;
}

.summary-warning-icon {
    float: right;
    vertical-align: top;
}

.column-nine-tenths {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media(min-width: 641px) {
    .column-nine-tenths {
        float: left;
        width: 90%
    }
}

.column-tenth {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media(min-width: 641px) {
    .column-tenth {
        float: left;
        width: 10%
    }
}

.up-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@-o-viewport {
    width: device-width;
}

@font-face {
    font-family: GDS-Logo;
    src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

#global-header .header-wrapper:after, #global-header .header-wrapper .header-global:after, #global-header .header-wrapper .header-global .header-logo:after, #global-header .header-proposition #proposition-link:after,
#global-header .header-proposition #proposition-links:after {
    content: "";
    display: block;
    clear: both;
}

#global-header-bar, #global-cookie-message p, #global-cookie-accept-message p, #global-cookie-reject-message p {
    max-width: 960px;
    margin: 0 15px;
}

@media (min-width: 641px) {
    #global-header-bar, #global-cookie-message p, #global-cookie-accept-message p, #global-cookie-reject-message p {
        margin: 0 30px;
    }
}

@media (min-width: 1020px) {
    #global-header-bar, #global-cookie-message p, #global-cookie-accept-message p, #global-cookie-reject-message p {
        margin: 0 auto;
    }
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

#global-header .header-wrapper:after, #global-header .header-wrapper .header-global:after, #global-header .header-wrapper .header-global .header-logo:after, #global-header .header-proposition #proposition-link:after,
#global-header .header-proposition #proposition-links:after {
    content: "";
    display: block;
    clear: both;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

local styleguide includes
Old depricated greys, new things should use the toolkit greys
html, body, button, input, table, td, th {
    font-family: "nta-extended", Arial, sans-serif;
}

html, body, div, h1, h2, h3, h4, h5, h6, article, aside, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

main {
    display: block;
}

.group:before,
.group:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

.content-fixed {
    top: 0;
    position: fixed;
}

.shim {
    display: block;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: #dee0e2;
}

html {
    -ms-overflow-style: scrollbar;
}

ol, ul, nav ol, nav ul {
    list-style: inherit;
}

fieldset {
    border: none;
    padding: 0;
}

a:link {
    color: #005ea5;
}

a:visited {
    color: #4c2c92;
}

a:hover {
    color: #2e8aca;
}

a:active {
    color: #2e8aca;
}

a[rel="external"]:after {
    background-image: url('../../images/external-links/external-link.png') !important;
    background-repeat: no-repeat;
}

a[rel="external"]:after {
    content: "\A0\A0\A0\A0";
    background-position: right 6px;
}

a[rel="external"]:hover:after {
    background-position: right -382px;
}

@media (max-width: 640px) {
    a[rel="external"]:after {
        content: "\A0\A0\A0\A0\A0";
        background-position: right 3px;
    }

    a[rel="external"]:hover:after {
        background-position: right -385px;
    }
}

.external-link:after {
    content: "\A0\A0\A0\A0\A0\A0\A0\A0";
    background-position: right 0px;
}

.external-link:hover:after {
    background-position: right 0px;
}

.external-link:after {
    background-image: url(images/external-links/external-link-black-12x12.png);
    background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .external-link:after {
        background-image: url(images/external-links/external-link-black-24x24.png);
        background-size: 12px 400px;
    }
}

b, strong {
    font-weight: 600;
}

img {
    border: 0;
}

abbr[title] {
    cursor: help;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: searchfield-cancel-button;
        margin-right: 2px;
    }

    input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

For image replacement
.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.ir br {
    display: none;
}

Hide for both screenreaders and browsers
.hidden {
    display: none;
    visibility: hidden;
}

Hide only visually, but have it available for screenreaders
.visuallyhidden {
    position: absolute;
    left: -9999em;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

Hide visually and from screenreaders, but maintain layout
.invisible {
    visibility: hidden;
}

Give a strong clear visual idea as to what is currently in focus
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

a:focus {
    background-color: #ffbf47;
    outline: 3px solid #ffbf47;
}

Make skiplinks visible when they are tabbed to
.skiplink {
    position: absolute;
    left: -9999em;
}

.skiplink:focus {
    position: static;
}

input:focus,
textarea:focus,
select:focus,
button:focus,
#global-header input:focus {
    outline: 3px solid #ffdd00;
}

#tblArchive input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: 2px solid black !important;
    height: 20px !important;
    width: 20px !important;
}

#global-header h1 a:focus {
    background-color: transparent;
    outline: none;
}

#global-header a:focus {
    color: #0b0c0c;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

#global-header .header-wrapper:after, #global-header .header-wrapper .header-global:after,
#global-header .header-wrapper .header-global .header-logo:after,
#global-header .header-proposition #proposition-link:after,
#global-header .header-proposition #proposition-links:after {
    content: "";
    display: block;
    clear: both;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

#global-header {
    background-color: #0b0c0c;
    width: 100%;
}

    #global-header .header-wrapper {
        background-color: #0b0c0c;
        max-width: 990px;
        margin: 0 auto;
        padding-top: 8px;
        padding-bottom: 8px;
    }

@media (min-width: 641px) {
    #global-header .header-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}

#global-header .header-wrapper .header-global .header-logo {
    float: left;
}

@media (min-width: 769px) {
    #global-header .header-wrapper .header-global .header-logo {
        width: 33.33%;
    }
}

@media screen and (max-width: 379px) {
    #global-header .header-wrapper .header-global .header-logo {
        width: auto;
        float: none;
    }
}

#global-header .header-wrapper .header-global .header-logo .content {
    margin: 0 15px;
}

#global-header .header-wrapper .header-global .header-logo {
    margin: 5px 0 2px;
}

@media (min-width: 769px) {
    #global-header.with-proposition .header-wrapper .header-global {
        float: left;
        width: 33.33%;
    }

        #global-header.with-proposition .header-wrapper .header-global .header-logo,
        #global-header.with-proposition .header-wrapper .header-global .site-search {
            width: 100%;
        }
}

@media (min-width: 769px) {
    #global-header.with-proposition .header-wrapper .header-proposition {
        width: 66.66%;
        float: left;
    }
}

#global-header.with-proposition .header-wrapper .header-proposition .content {
    margin: 0 15px;
}

.govuk-notification-banner-success {
    border-color: #00703c !important;
    background-color: #00703c !important;
}

.govuk-notification-banner {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 30px;
    border: 5px solid #00703c;
    background-color: #00703c;
}

.govuk-notification-banner-header {
    padding: 2px 15px 5px;
    border-bottom: 1px solid transparent;
}

.govuk-notification-banner-heading {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1111111111;
    margin: 0 0 15px 0;
    padding: 0;
}

.govuk-notification-banner-title {
    font-size: 19px;
    line-height: 1.3157894737;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    color: #fff;
}

.govuk-notification-banner-content {
    color: #0b0c0c;
    padding: 15px;
    background-color: #fff;
}

.govuk-notification-banner-success .govuk-notification-banner-link:link, .govuk-notification-banner-success .govuk-notification-banner-link:visited {
    color: #00703c;
}

#tbSessionCookies th, #tbSessionCookies td,
#tbIPLCookies th, #tbIPLCookies td,
#tbGooglrAnalytics th, #tbGooglrAnalytics td {
    line-height: 1.31579 !important;
    font-size: 16px !important;
}

.grid-row {
    margin: 0 -15px;
}

@media (min-width: 641px) {
    .column-half, .column-one-half {
        float: left;
        width: 50%;
    }
}

.column-half, .column-one-half {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.heading-small {
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    display: block;
    margin-top: 0.625em;
    margin-bottom: 0.3125em;
}

@media (min-width: 641px) {
    .heading-small {
        font-size: 19px;
        line-height: 1.31579;
    }
}

@media (min-width: 641px) {
    .heading-small {
        margin-top: 1.05263em;
    }
}

.phase-banner {
    padding: 10px 0 8px;
    border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
    .phase-banner {
        padding-bottom: 10px;
    }
}

.heading-medium {
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    display: block;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}

@media (min-width: 641px) {
    .heading-medium {
        font-size: 24px;
        line-height: 1.25;
    }
}

@media (min-width: 641px) {
    .heading-medium {
        margin-top: 1.875em;
        margin-bottom: 0.83333em;
    }
}

.button, .cookieBannerButton {
    font-family: inherit;
    background-color: #00823b;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0.526315em 0.789473em 0.263157em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 1px solid transparent;
    outline-offset: -1px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #003618;
    -moz-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    width: auto;
}

.button:before, .cookieBannerButton:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.grid-row:after, .notice:after, #content:after, fieldset:after, .form-section:after, .form-group:after, .form-group-error:after, .error:after, .panel:after, .panel-indent:after, .example:after {
    content: "";
    display: block;
    clear: both;
}

.form-group {
    margin-bottom: 15px;
}

@media (min-width: 641px) {
    .form-group {
        margin-bottom: 30px;
    }
}

.form-section, .form-group {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-label {
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
}

.form-label, .form-label-bold {
    display: block;
    color: #0b0c0c;
    padding-bottom: 2px;
}

@media (min-width: 641px) {
    .form-label {
        font-size: 19px;
        line-height: 1.31579;
    }
}

@media (min-width: 641px) {
    .form-control, .form-control-narrow {
        font-size: 19px;
        line-height: 1.31579;
    }
}

@media (min-width: 641px) {
    .form-control, .form-control-narrow {
        width: 50%;
    }
}

@media (min-width: 641px) {
    .phase-banner .phase-tag {
        font-size: 16px !important;
        line-height: 1.25 !important;
    }
}

.phase-banner .phase-tag {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-family: "nta-extended", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #005ea5;
}

.phase-banner {
    padding: 10px 0 8px;
    border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
    .phase-banner {
        padding-bottom: 10px;
    }
}

.phase-banner p {
    display: table;
    margin: 0;
    color: #000;
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
}

@media (min-width: 641px) {
    .phase-banner p {
        font-size: 16px;
        line-height: 1.25;
    }
}

.phase-banner span {
    display: table-cell;
    vertical-align: baseline;
}

table thead th {
    font-weight: 700;
}

table th, table td {
    font-family: "nta-extended", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    padding: 0.63158em 1.05263em 0.47368em 0;
    text-align: left;
    border-bottom: 1px solid #bfc1c3;
}

fieldset {
    width: 100%;
}

.list {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 20px;
}

.list-bullet {
    list-style-type: disc;
    padding-left: 20px;
}

hr {
    display: block;
    background: #bfc1c3;
    border: 0;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
}

.font-xsmall {
    font-family: "nta-extended", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
}

@media (min-width: 641px) {
    .font-xsmall {
        font-size: 16px;
        line-height: 1.25;
    }
}

#homepage-link-container {
    position: absolute;
    margin-top: 10px;
}

.text-secondary {
    color: #6f777b;
}

.top-content-box .username-format {
    font-weight: bold;
    color: #0b0c0c;
}

.column-third, .column-one-third {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 641px) {
    .column-third, .column-one-third {
        float: left;
        width: 33.33333%;
    }
}

.accordion-general {
    margin-top: 2.7em;
    border-top: 10px solid #d53880;
    border-bottom: 10px solid #d53880;
    background: #f8f8f8;
}

.accordion-general li {
    list-style-type: none;
}

.accordion-general .current {
    background: #d53880;
    color: #fff;
}

.accordion-general h3 {
    cursor: pointer;
    color: #0b0c0c;
    padding: 7px 0 5px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
}

.accordion-general ul ul li {
    padding: 3px 0 3px 15px;
    color: #005ea5;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

ul, ol {
    list-style-type: none !important;
}

.column-two-thirds {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 641px) {
    .column-two-thirds {
        float: left;
        width: 66.66667%;
    }
}

.heading-large {
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 24px;
    line-height: 1.04167;
    margin-top: 1.04167em;
    margin-bottom: 0.41667em;
}

@media (min-width: 641px) {
    .heading-large {
        font-size: 36px;
        line-height: 1.11111;
    }
}

#link-sign-out {
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    text-align: right;
}

@media (min-width: 641px) {
    #link-sign-out {
        font-size: 16px;
        line-height: 1.25;
    }
}

.link-submit, .link-submit-xsmall {
    background: none;
    border: none;
    padding: 0;
    color: #005ea5;
    font-family: "nta",Arial,sans-serif;
    cursor: pointer;
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    text-decoration: underline;
}

.accordion-general h3 span {
    content: '';
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 12px 6px;
    border-color: transparent transparent #0b0c0c transparent;
    -webkit-transform: translateY(0%) rotate(90deg);
    -moz-transform: translateY(0%) rotate(90deg);
    -ms-transform: translateY(0%) rotate(90deg);
    -o-transform: translateY(0%) rotate(90deg);
    transform: translateY(0%) rotate(90deg);
}

.accordion-general .current span {
    content: '';
    border-color: transparent transparent #fff transparent;
    -webkit-transform: translateY(0%) rotate(180deg);
    -moz-transform: translateY(0%) rotate(180deg);
    -ms-transform: translateY(0%) rotate(180deg);
    -o-transform: translateY(0%) rotate(180deg);
    transform: translateY(0%) rotate(180deg);
}

.accordion-general ul ul {
    padding: 10px 0 0 0;
    background: #fff;
}

.accordion-general ul ul {
    display: none;
}

.accordion-general li.active ul {
    display: block;
}

.accordion-general ul ul li {
    padding: 3px 0 3px 15px;
    color: #005ea5;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

    .accordion-general ul ul li a {
        display: block;
        text-decoration: none;
        color: #0b0c0c !important;
        transition: all .15s;
    }

.accordion-general ul ul:after {
    content: '';
    display: block;
    border-bottom: 5px solid #d53880;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 0;
    width: 100%;
}

.form-date .govuk-form-group {
    float: left;
    width: 50px;
    margin-right: 20px;
    margin-bottom: 0;
    clear: none;
}

.form-date .govuk-form-group label {
    display: block;
    padding-bottom: 2px;
}

.form-date .govuk-form-group input {
    width: 100%;
}

@media (min-width: 641px) {
    .heading-large .heading-secondary {
        padding-top: 6px;
        padding-bottom: 4px;
    }
}

.heading-large .heading-secondary {
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    display: block;
    padding-top: 9px;
    padding-bottom: 6px;
    display: block;
    color: #6f777b;
}

@media (min-width: 641px) {
    .heading-large .heading-secondary {
        font-size: 24px;
        line-height: 1.25;
    }
}

#search-container input[type=text] {
    width: 70%;
}

#top-content-box-container ul {
    margin: 0 !important;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}

.fa-plus-square:before {
    content: "";
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

@media (min-width: 641px) {
    table th, table td {
        font-size: 19px;
        line-height: 1.31579;
    }
}

table thead th {
    font-weight: 700;
}

.form-date .form-group-year {
    width: 70px !important;
}

.form-date .govuk-form-group {
    float: left;
    width: 50px;
    margin-right: 20px;
    margin-bottom: 0;
    clear: none;
}

Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

Firefox
input[type=number] {
    -moz-appearance: textfield;
}

.accordion-import {
    margin-top: 2.7em;
    border-top: 10px solid #f47738;
    border-bottom: 10px solid #f47738;
    background: #f8f8f8;
    padding-top: 15px;
    padding-bottom: 15px;
}

.accordion-import, .notification-number {
    padding: 5px;
}

.bold-medium {
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
}

@media (min-width: 641px) {
    .bold-medium {
        font-size: 24px;
        line-height: 1.25;
    }
}

.accordion-import, .notification-number, .assigned-area {
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
}

@media (min-width: 641px) {
    .accordion-import, .notification-number, .assigned-area {
        font-size: 14px;
        line-height: 1.42857;
    }
}

.accordion-import li {
    list-style-type: none;
}

.accordion-import h3 {
    cursor: pointer;
    color: #0b0c0c;
    padding: 7px 0 5px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
}

.accordion-import .current {
    background: #f47738;
    color: #fff;
}

.accordion-import h3 span {
    content: '';
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 12px 6px;
    border-color: transparent transparent #0b0c0c transparent;
    -webkit-transform: translateY(0%) rotate(90deg);
    -moz-transform: translateY(0%) rotate(90deg);
    -ms-transform: translateY(0%) rotate(90deg);
    -o-transform: translateY(0%) rotate(90deg);
    transform: translateY(0%) rotate(90deg);
}

.accordion-import .current span {
    content: '';
    border-color: transparent transparent #fff transparent;
    -webkit-transform: translateY(0%) rotate(180deg);
    -moz-transform: translateY(0%) rotate(180deg);
    -ms-transform: translateY(0%) rotate(180deg);
    -o-transform: translateY(0%) rotate(180deg);
    transform: translateY(0%) rotate(180deg);
}

.accordion-import ul ul li {
    padding: 3px 0 3px 15px;
    color: #005ea5;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.accordion-import li {
    list-style-type: none;
}

.accordion-import ul ul li a {
    display: block;
    text-decoration: none;
    color: #0b0c0c;
    transition: all .15s;
}

.accordion-import ul ul:after {
    content: '';
    display: block;
    border-bottom: 5px solid #f47738;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 0;
    width: 100%;
}

.accordion-import h3 {
    cursor: pointer;
    color: #0b0c0c;
    padding: 7px 0 5px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
}

.accordion-import ul ul {
    padding: 10px 0 0 0;
    background: #fff;
}

.accordion-import {
    margin-top: 2.7em;
    border-top: 10px solid #f47738;
    border-bottom: 10px solid #f47738;
    background: #f8f8f8;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.accordion-import ul ul {
    display: none;
}

.accordion-import ul ul {
    padding: 10px 0 0 0;
    background: #fff;
}

.accordion-import li.active ul {
    display: block;
}

.accordion-import ul li.active ul li:hover {
    background-color: #dee0e2;
}

.international-number .plus-label {
    display: inline-block;
}

.international-number .international-number-prefix {
    display: inline-block;
    width: 100px;
}

.international-number .international-number-body {
    display: inline-block;
    width: 65%;
}

.form-control-wide {
    width: 100%;
}

.panel, .panel-indent {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    border-left-style: solid;
    border-color: #bfc1c3;
    padding: 0.78947em;
    margin-bottom: 0.78947em;
}

.form-hint {
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 19px;
    line-height: 1.25;
    display: block;
    color: #6f777b;
    font-weight: normal;
    margin-top: -2px;
    padding-bottom: 2px;
}

@media (min-width: 641px) {
    .form-hint {
        font-size: 19px;
        line-height: 1.31579;
    }
}

.panel :only-child, .panel-indent :only-child, .panel :last-child, .panel-indent :last-child {
    margin-bottom: 0;
}

#submit-side-bar h3 {
    font-weight: 500;
}

.full-width {
    width: 100%;
    font-size: 19px;
}

Internal user export notification menu
.accordion-export {
    margin-top: 2.7em;
    border-top: 10px solid #2b8cc4;
    border-bottom: 10px solid #2b8cc4;
    background: #f8f8f8;
    padding-top: 15px;
    padding-bottom: 15px;
}

.accordion-export .notification-number {
    padding: 5px;
}

.accordion-export .current {
    background: #2b8cc4;
    color: #fff;
}

.accordion-export li {
    list-style-type: none;
}

.accordion-export h3 {
    cursor: pointer;
    color: #0b0c0c;
    padding: 7px 0 5px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
}

.accordion-export h3 span {
    content: '';
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 12px 6px;
    border-color: transparent transparent #0b0c0c transparent;
    -webkit-transform: translateY(0%) rotate(90deg);
    -moz-transform: translateY(0%) rotate(90deg);
    -ms-transform: translateY(0%) rotate(90deg);
    -o-transform: translateY(0%) rotate(90deg);
    transform: translateY(0%) rotate(90deg);
}

.accordion-export .current span {
    content: '';
    border-color: transparent transparent #fff transparent;
    -webkit-transform: translateY(0%) rotate(180deg);
    -moz-transform: translateY(0%) rotate(180deg);
    -ms-transform: translateY(0%) rotate(180deg);
    -o-transform: translateY(0%) rotate(180deg);
    transform: translateY(0%) rotate(180deg);
}

.accordion-export h3 span {
    content: '';
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 12px 6px;
    border-color: transparent transparent #0b0c0c transparent;
    -webkit-transform: translateY(0%) rotate(90deg);
    -moz-transform: translateY(0%) rotate(90deg);
    -ms-transform: translateY(0%) rotate(90deg);
    -o-transform: translateY(0%) rotate(90deg);
    transform: translateY(0%) rotate(90deg);
}

.accordion-export ul ul {
    padding: 10px 0 0 0;
    background: #fff;
}

.accordion-export ul ul li {
    padding: 3px 0 3px 15px;
    color: #005ea5;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

    .accordion-export ul ul li a {
        display: block;
        text-decoration: none;
        color: #0b0c0c;
        transition: all .15s;
    }

.accordion-export ul ul:after {
    content: '';
    display: block;
    border-bottom: 5px solid #2b8cc4;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 0;
    width: 100%;
}

.accordion-export ul ul {
    display: none;
}

.accordion-export li.active ul {
    display: block;
}

end

.overview-block div.overview-block-element:not(:last-child) {
    margin-bottom: 15px;
}

.overview-block dd {
    margin-inline-start: 0px;
}

.change-answer {
    font-weight: 700;
    text-align: right;
    padding-right: 0;
}

.govuk-error-message,
.govuk-error-summary__list {
    font-size: 19px !important;
}

.heading-medium {
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: 700 !important;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    display: block;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}

@media (min-width: 641px) {
    .heading-medium {
        font-size: 24px !important;
        line-height: 1.25;
    }
}

@media (min-width: 641px) {
    .error-summary {
        border: 5px solid #b10e1e;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px 15px 15px;
    }
}

.govuk-error-summary__list a:link, .govuk-error-summary__list a:visited {
    font-size: 19px;
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: bold;
}

.two-thirds {
    width: 66.66667%;
}

.button:visited, .cookieBannerButton:visited {
    background-color: #00823b;
}

details {
    display: block;
    clear: both;
}

details summary {
    display: inline-block;
    color: #005ea5;
    cursor: pointer;
    position: relative;
    margin-bottom: 0.26316em;
    padding-left: 25px;
}

    details summary:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        /* -webkit-clip-path: polygon(0% 0%,100% 50%,0% 100%);*/
        clip-path: polygon(0% 0%,100% 50%,0% 100%);
        border-width: 7px 0 7px 12.124px;
        border-left-color: inherit;
    }

details[open] > summary:before {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    /*-webkit-clip-path: polygon(0% 0%,50% 100%,100% 0%);*/
    clip-path: polygon(0% 0%,50% 100%,100% 0%);
    border-width: 12.124px 7px 0 7px;
    border-top-color: inherit;
}

details .summary {
    text-decoration: underline;
    font-size: inherit;
    font-weight: normal;
}

summary > h2 {
    display: inline-block;
}

.form-group-compound {
    margin-bottom: 10px;
}

.pager {
    margin-top: 0.3125em;
    margin-bottom: 1.25em;
}

@media (min-width: 641px) {
    .pager {
        margin-top: 0.26316em;
        margin-bottom: 1.05263em;
    }
}

@media (min-width: 641px) {
    .pager-controls {
        float: right;
    }
}

@media (min-width: 641px) {
    .pager-items {
        display: inline !important;
    }
}

@media (min-width: 641px) {
    .pager-items li {
        display: inline;
        margin: 0 5px;
    }
}

.button:link, .button:link:focus, .button:hover, .button:focus, .button:visited, .cookieBannerButton:link, .cookieBannerButton:link:focus, .cookieBannerButton:hover, .cookieBannerButton:focus, .cookieBannerButton:visited {
    color: #fff;
}

.group:before, .group:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.group:after {
    clear: both;
}

.bold-small {
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
}

@media (min-width: 641px) {
    .bold-small {
        font-size: 19px;
        line-height: 1.31579;
    }
}

.button {
    width: auto;
}

@media (min-width: 641px) {
    .button {
        width: auto;
    }
}

#dvTermandConditions p {
    text-align: justify;
}

@media (min-width: 641px) {
    .heading-large {
        margin-top: 1.25em;
        margin-bottom: 0.55556em;
    }
}

@media (min-width: 641px) {
    .heading-medium {
        margin-top: 1.875em;
        margin-bottom: 0.83333em;
    }
}

.list li {
    margin-bottom: 5px;
}

#dvTermandConditions ul, #dvTermandConditions li {
    list-style-type: inherit !important;
}

#dvGoogleAnalytics ul,
#dvGoogleAnalytics li {
    list-style-type: inherit !important;
}

#dvAccessibility ul {
    list-style-type: inherit !important;
    padding-left: 50px;
}

.govuk-heading-l {
    padding-top: 50px !important;
}

.accessibility-l {
    padding-top: 0 !important;
    margin-bottom: 15px !important;
}

.visually-hidden, .visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

#submit-overview-area details > summary {
    display: block;
}

details .show-all {
    padding-right: 25px;
    text-align: right;
}

    details .show-all:before {
        left: auto !important;
        right: 0 !important;
    }

details summary:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    /*-webkit-clip-path: polygon(0% 0%,100% 50%,0% 100%);*/
    clip-path: polygon(0% 0%,100% 50%,0% 100%);
    border-width: 7px 0 7px 12.124px;
    border-left-color: inherit;
}

.bold-xsmall {
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
}

@media (min-width: 641px) {
    .bold-xsmall {
        font-size: 16px;
        line-height: 1.25;
    }
}

.stickit {
    margin-left: 660px;
    position: fixed;
    top: 0;
}

#form-menu .summary-list {
    padding-bottom: 16px;
}

.grey-text {
    color: #6f777b;
}

#form-menu .summary-list > li {
    font-family: "nta-extended",Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    padding-top: 9px;
    padding-bottom: 9px;
    border-top: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
    #form-menu .summary-list > li {
        font-size: 19px;
        line-height: 1.31579;
    }
}

#form-menu .summary-list > li > span {
    font-size: inherit;
    font-weight: normal;
    display: inline-block;
    padding: 0;
}

.hgroup {
    margin-bottom: 1.66667em;
}

#dvPrivacy ul, #dvPrivacy li {
    list-style-type: inherit !important;
}

#SelectedMovementStatus {
    width: 55% !important;
}

textarea {
    font-family: "nta-extended",Arial,sans-serif;
    font-size: 19px;
}

.submitsidebar {
    background-color: #f8f8f8 !important;
}

.change-link {
    text-align: right;
    font-weight: normal;
    vertical-align: bottom;
}

#tblArchive,
#dvInformationMessage,
#dvCountHeader {
    width: 800px;
}

#tblArchive tr td .govuk-checkboxes__item {
    min-height: 0px !important;
    margin-top: -5px !important;
    margin-bottom: 0px !important;
}

#dvCountHeader {
    background-color: #1d70b8;
    height: 40px;
    color: white;
    padding-left: 20px;
    padding-top: 15px;
}

#dvAccessLevelHeader {
    border-top: 10px solid #005ea5;
    padding-top: 0.4em;
    margin-bottom: 0.5em;
}

#dvAccessLevelTitle,
#dvAccessLevelBody {
    text-align: center;
    font-size: 24px;
}

#dvAccessLevelTitle {
    font-weight: bold;
}

.tableRadio {
    border: 5px solid white;
    box-shadow: 0 0 0 2px black;
    appearance: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transition: all ease-in 0.2s;
}

.tableRadio:checked {
    background-color: black;
}

.tableRadio:focus {
    border-width: 4px;
    outline-offset: 1px;        
}

.noteDiv {
    border-width: 0px;
    position: absolute;
    width: 10px;
    height: 50px;
    background: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: green;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#div_orange {
    background-color: rgba(244, 119, 56, 1);
    border-color: rgba(245, 166, 35, 1);
}

#div_green {
    background-color: green;
    border-color: green;
}

#div_red {
    background-color: red;
    border-color: red;    
}