@import "palette";

.button {
    margin: 0 $govuk-gutter-half $govuk-gutter-half 0; // This was removed from GOV.UK Elements...
}

.button-start,
.button-get-started {
  background-image: file-url("icon-pointer.png");

  /*@device-pixel-ratio {
    background-image: file-url("icon-pointer-2x.png");
  }

  @ie(6) {
    background-image: file-url("icon-pointer-2x.png");
  }*/
}

.button.blue{
    box-shadow: none;
    -webkit-box-shadow: none;    
    background-color: $light-blue;
}

/*.button-secondary {
    @include button($grey-3);
}*/