.fg-header {
    h2 {
        display: inline-block;
        width: 60%;
    }

    p {
        display: inline-block;
        width: 40%;
    }
}

.fg-decision {
    th {
        font-weight: normal;
        width: 60%;
    }

    td {
        font-weight: bold;
        width: 40%;
    }
}