/* Global footer */

$footer-grey: #454a4c;

#footer {

    .footer-categories {

        @include media(tablet) {
            padding: 0 $gutter-half $gutter;
        }

        .footer-agencies {
            color: $footer-grey;

            @include media(tablet) {
                padding-bottom: 60px;
            }

            h2 {
                margin: 0 15px;
            }
        }

        hr {
            clear: both;
            margin: 0 15px 30px;
            border: 1px solid $border-colour;
            border-width: 1px 0 0 0;

            @include media(tablet) {
                margin-bottom: 0;
            }
        }

        ul {
            @include core-16;
            list-style: none;
            padding: 0;
            margin: 0;

            @include media(tablet) {
                margin: 15px 0 0 0;
            }


            li {
                display: block;
                margin-bottom: 5px;
                padding: 10px 0 0;
                margin: 0 15px 5px;

                @include media(tablet) {
                    padding: 20px 0 0;
                    margin: 0 15px;
                }
            }
        }
    }
}
