.no-js-hidden {
    display: none;
}

// Hide, only when JavaScript is enabled
.js-enabled .js-hidden {
  display: none;
}

// Hide for both screenreaders and browsers
.hidden {
  display: none;
  visibility: hidden;
}

// Saved content feedback
#status-box-saved {
  background-color: $focus-colour;
  border: solid 3px;
  border-color: darken($focus-colour, 18%);
  margin-top: 15px;
  padding: 30px;
  text-align: center;

  h2 {
    margin: 0;
  }
}