#import-waste-codes {
    table.import-draft-codes-table {
        width: 80%;

        tr.empty {
            height: 46px;
        }

        td.remove {
            width: 10%;
        }
    }

    .large-bottom-margin {
        margin-bottom: 60px;
    }

    .medium-bottom-margin {
        margin-bottom: 45px;
    }

    button.add {
        margin-left: 15px;
    }
}