@using Resources = EA.Iws.Web.Areas.AdminExportAssessment.Views.FinancialGuaranteeDecision.FinancialGuaranteeDecisionResources
@{
    ViewBag.Title = Resources.ReleasedTitle;
}

<h2 class="govuk-heading-l">@Resources.ReleasedTitle</h2>

<p>@Resources.ReleasedDescription</p>

<div class="govuk-form-group">
    @Html.ActionLink(Constants.ContinueOnlyButtonText, "Index", "FinancialGuaranteeAssessment", null, new { @class = "govuk-button" })
</div>

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}