DECLARE @UserId UNIQUEIDENTIFIER;
DECLARE @NotificationId UNIQUEIDENTIFIER = '6C8DEFE2-5469-40FF-8EDA-19C1FE2AE485D';

SELECT @UserId = id
FROM   [Identity].[aspnetusers]
WHERE  [email] = 'sunily@sfwltd.co.uk'


INSERT [Notification].[MeansOfTransport]
	   ([Id],
	    [NotificationId],
		[MeansOfTransport])
VALUES (N'6A872075-BD0B-4B69-9395-BBD12B0BA2FA',
		@NotificationId,
		N'R;S;R;A;R');

INSERT [Notification].[FacilityCollection] (
	[Id],
	[NotificationId],
	[AllFacilitiesPreconsented]
)
VALUES (
	N'24727DC6-FB47-4D00-AFA3-DBA89824C29B',
	@NotificationId,
	1
)




INSERT [Notification].[ProducerCollection]
	   ([Id],
	    [NotificationId])
VALUES (N'A16D7EC0-DA99-4EA6-B549-924401E7B4D2',
		@NotificationId)




INSERT [Notification].[shipmentinfo]
       ([id],
        [notificationid],
        [numberofshipments],
        [quantity],
        [units],
        [firstdate],
        [lastdate])
VALUES (N'f300dc00-f20d-49d6-8871-a4d401343222',
        @NotificationId,
        520,
        Cast(10.0 AS DECIMAL(18, 4)),
        3,
        Cast(N'2015-09-01' AS DATE),
        Cast(N'2016-08-27' AS DATE))

INSERT [Notification].[CarrierCollection]
	   ([Id],
	    [NotificationId])
VALUES (N'5211F9A0-FA1B-46B4-BCC6-F43E03AB5310',
		@NotificationId)



INSERT [Notification].[packaginginfo]
       ([id],
        [packagingtype],
        [otherdescription],
        [notificationid])
VALUES (N'21393bf2-8cba-4d09-9fdb-a4d401338cc2',
        4,
        NULL,
        @NotificationId)

INSERT [Notification].[packaginginfo]
       ([id],
        [packagingtype],
        [otherdescription],
        [notificationid])
VALUES (N'916bd103-265b-49bf-a619-a4d401338cc2',
        5,
        NULL,
        @NotificationId)

INSERT INTO [Notification].[TransportRoute]
([Id], [NotificationId])
VALUES ('31393bf2-8cba-4d09-9fdb-a4d401338eee', 
		@NotificationId)

DECLARE @CountryId UNIQUEIDENTIFIER;

SELECT @CountryId = id
FROM   [Lookup].[country]
WHERE  [name] = 'United Kingdom';

DECLARE @CAId UNIQUEIDENTIFIER;

SELECT @CAId = id
FROM   [Lookup].[competentauthority]
WHERE  [code] = 'GB01';

DECLARE @EntryId UNIQUEIDENTIFIER;
DECLARE @ExitId UNIQUEIDENTIFIER;

SELECT @EntryId = id
FROM   [Notification].[entryorexitpoint]
WHERE  [name] = 'Dover';

INSERT [Notification].[stateofexport]
       ([id],
        [TransportRouteId],
        [countryid],
        [competentauthorityid],
        [exitpointid])
VALUES (N'0990a856-f001-45fe-a3cd-a4d40133a0d2',
        '31393bf2-8cba-4d09-9fdb-a4d401338eee',
        @CountryId,
        @CAId,
        @EntryId)

SELECT @CountryId = id
FROM   [Lookup].[country]
WHERE  [name] = 'Germany';

SELECT @CAId = id
FROM   [Lookup].[competentauthority]
WHERE  [code] = 'DE023';

SELECT @ExitId = id
FROM   [Notification].[entryorexitpoint]
WHERE  [name] = 'Aachen';

INSERT [Notification].[stateofimport]
       ([id],
        [TransportRouteId],
        [countryid],
        [competentauthorityid],
        [entrypointid])
VALUES (N'a7e76c08-1939-4e56-88d8-a4d40133bd22',
        '31393bf2-8cba-4d09-9fdb-a4d401338eee',
        @CountryId,
        @CAId,
        @ExitId)

SELECT @CountryId = id
FROM   [Lookup].[country]
WHERE  [name] = 'France';

SELECT @CAId = id
FROM   [Lookup].[competentauthority]
WHERE  [code] = 'F';

SELECT @EntryId = id
FROM   [Notification].[entryorexitpoint]
WHERE  [name] = 'Calais';

SELECT @ExitId = id
FROM   [Notification].[entryorexitpoint]
WHERE  [name] = 'Lille';

INSERT [Notification].[transitstate]
       ([id],
        [TransportRouteId],
        [countryid],
        [competentauthorityid],
        [entrypointid],
        [exitpointid],
        [ordinalposition])
VALUES (N'c0fb971c-c7f1-490a-a7b1-a4d40133db92',
        '31393bf2-8cba-4d09-9fdb-a4d401338eee',
        @CountryId,
        @CAId,
        @EntryId,
        @ExitId,
        1)

INSERT [Notification].[operationcodes]
       ([id],
        [notificationid],
        [operationcode])
VALUES (N'477e8c48-478a-4f76-9417-a4d40132e6b2',
        @NotificationId,
        2)

INSERT [Notification].[operationcodes]
       ([id],
        [notificationid],
        [operationcode])
VALUES (N'eef1eb16-8bc1-4af0-957b-a4d40132e6b2',
        @NotificationId,
        3)

INSERT [Notification].[operationcodes]
       ([id],
        [notificationid],
        [operationcode])
VALUES (N'e9f2a0ac-b776-4c78-b1ff-a4d40132e6b2',
        @NotificationId,
        1)

INSERT [Notification].[wastetype]
       ([id],
        [chemicalcompositiontype],
        [chemicalcompositionname],
        [chemicalcompositiondescription],
        [notificationid],
        [hasannex],
        [otherwastetypedescription],
        [energyinformation],
        [woodtypedescription],
        [optionalinformation])
VALUES (N'd8797ce3-c58f-4faf-9db9-a4d401346412',
        3,
        NULL,
        N'Wooden blocks',
        @NotificationId,
        0,
        NULL,
        NULL,
        N'Wooden blocks',
        NULL)

INSERT [Notification].[wastecomposition]
       ([id],
        [constituent],
        [minconcentration],
        [maxconcentration],
        [wastetypeid],
        [chemicalcompositiontype])
VALUES (N'1f67c730-4bd2-43fe-8a17-a4d401346412',
        N'Plastics',
        Cast(1.00 AS DECIMAL(5, 2)),
        Cast(3.00 AS DECIMAL(5, 2)),
        N'd8797ce3-c58f-4faf-9db9-a4d401346412',
        2)

INSERT [Notification].[wastecomposition]
       ([id],
        [constituent],
        [minconcentration],
        [maxconcentration],
        [wastetypeid],
        [chemicalcompositiontype])
VALUES (N'c780661f-853d-4a5a-8c05-a4d401346412',
        N'Wood',
        Cast(1.00 AS DECIMAL(5, 2)),
        Cast(3.00 AS DECIMAL(5, 2)),
        N'd8797ce3-c58f-4faf-9db9-a4d401346412',
        4)

INSERT [Notification].[wastecomposition]
       ([id],
        [constituent],
        [minconcentration],
        [maxconcentration],
        [wastetypeid],
        [chemicalcompositiontype])
VALUES (N'a748dbf7-2b70-4e27-8ca1-a4d401346412',
        N'Paper',
        Cast(1.00 AS DECIMAL(5, 2)),
        Cast(3.00 AS DECIMAL(5, 2)),
        N'd8797ce3-c58f-4faf-9db9-a4d401346412',
        1)



INSERT [Notification].[physicalcharacteristicsinfo]
       ([id],
        [physicalcharacteristictype],
        [otherdescription],
        [notificationid])
VALUES (N'52d690f1-7002-49ff-8f13-a4d401348692',
        4,
        NULL,
        @NotificationId)

INSERT [Notification].[physicalcharacteristicsinfo]
       ([id],
        [physicalcharacteristictype],
        [otherdescription],
        [notificationid])
VALUES (N'2210c309-8429-443c-ac7f-a4d401348692',
        3,
        NULL,
        @NotificationId)

INSERT [Notification].[technologyemployed]
       ([id],
        [annexprovided],
        [details],
        [notificationid],
        [furtherdetails])
VALUES (N'272e1409-ebc2-439b-87b5-a4d40132ebc2',
        0,
        'Electrolysis',
        @NotificationId,
        'A cathode and anode are used to separate recoverable materials from an ionic solution of waste.')

DECLARE @WasteCodeId UNIQUEIDENTIFIER;


INSERT [Notification].[wasteadditionalinformation]
       ([id],
        [constituent],
        [minconcentration],
        [maxconcentration],
        [wastetypeid],
        [wasteinformationtype])
VALUES (N'a8556283-753d-48fe-9714-a4d4013479e2',
        N'Chlorine',
        Cast(2.00 AS DECIMAL(5, 2)),
        Cast(5.00 AS DECIMAL(5, 2)),
        N'd8797ce3-c58f-4faf-9db9-a4d401346412',
        5)

INSERT [Notification].[wasteadditionalinformation]
       ([id],
        [constituent],
        [minconcentration],
        [maxconcentration],
        [wastetypeid],
        [wasteinformationtype])
VALUES (N'a8ac0c58-850a-44cd-99ae-a4d4013479e2',
        N'Moisture content',
        Cast(2.00 AS DECIMAL(5, 2)),
        Cast(5.00 AS DECIMAL(5, 2)),
        N'd8797ce3-c58f-4faf-9db9-a4d401346412',
        2)

INSERT [Notification].[wasteadditionalinformation]
       ([id],
        [constituent],
        [minconcentration],
        [maxconcentration],
        [wastetypeid],
        [wasteinformationtype])
VALUES (N'93bb0f25-ef6d-4f1c-ab0b-a4d4013479e2',
        N'Ash content',
        Cast(2.00 AS DECIMAL(5, 2)),
        Cast(5.00 AS DECIMAL(5, 2)),
        N'd8797ce3-c58f-4faf-9db9-a4d401346412',
        3)



INSERT INTO [Notification].[notificationassessment]
            ([id],
             [notificationapplicationid],
             [status])
VALUES      ('9060B7DA-0D29-494D-8F9B-3E16C5361D47',
              @NotificationId,
              2 ) ;

INSERT INTO [Notification].[NotificationDates]
(
	[Id],
	[NotificationAssessmentId]
)
VALUES
(
	(SELECT Cast(Cast(Newid() AS BINARY(10))
                           + Cast(Getdate() AS BINARY(6)) AS UNIQUEIDENTIFIER)),
	'9060B7DA-0D29-494D-8F9B-3E16C5361D47'
)

INSERT INTO [Notification].[FinancialGuaranteeCollection]
			(
				[Id],
				[NotificationId]
			)
VALUES
			(
				(SELECT Cast(Cast(Newid() AS BINARY(10))
							   + Cast(Getdate() AS BINARY(6)) AS UNIQUEIDENTIFIER)),
				@NotificationId
			)

INSERT [Notification].[EntryExitCustomsSelection]
		(Id,
		[Entry],
		[Exit],
		TransportRouteId
		)
VALUES (NEWID(),
		0,
		0,
		'31393bf2-8cba-4d09-9fdb-a4d401338eee')